---
import Layout from "../../layouts/Layout.astro";
import PersonLayout from "../../components/PersonLayout.astro";

const fullName = "Szász Barna";
---

<Layout title={`About ${fullName}`} fullName={fullName}>
  <PersonLayout fullName={fullName}>
    <main
      class="relative font-['Jost'] min-h-[calc(100vh-97.5px)] grid place-items-center"
    >
      <div
        class="grid grid-cols-[max-content_3fr] gap-[30px] items-center max-w-[1156px]"
      >
        <p
          class="uppercase text-[#D9D62D] text-[96px] font-bold justify-self-end"
        >
          Hi, <span class="block">I'm Barni.</span>
        </p>

        <p
          class="text-[#ecebd5] mx-auto text-[24px] font-light shadow-[2px_2px_2px_0_#1F0308] rounded-[30px] p-[40px] backdrop-blur-md hover:bg-black/30 transition-colors duration-300"
        >
          A <strong class="text-[#C6C56E] font-semibold">33 year old</strong> career
          changer front-end developer living
          <strong class="text-[#C6C56E] font-semibold">in Berlin</strong>,
          focused on <strong class="text-[#C6C56E] font-semibold"
            >building user-friendly, visually appealing interfaces</strong
          > with HTML, CSS, JavaScript, React, Svelte, Astro, and the Linux CLI.
          I’m
          <strong class="text-[#C6C56E] font-semibold"
            >eager to expand my skills</strong
          >, particularly in back-end development and performance optimization.
          <strong class="text-[#C6C56E] font-semibold"
            >Looking for opportunities</strong
          > to apply and expand development skills <strong
            class="text-[#C6C56E] font-semibold"
            >in a professional environment</strong
          >. I’m <strong class="text-[#C6C56E] font-semibold">currently</strong>
          enhancing my skill set by <strong class="text-[#C6C56E] font-semibold"
            >taking the Full Stack Open course</strong
          > offered by the University of Helsinki.
        </p>
      </div>
    </main>
  </PersonLayout>
</Layout>
