---
import Layout from "../../layouts/Layout.astro";
import BarnaLayout from "../../components/BarnaLayout.astro";
import BarnaContactItem from "../../components/BarnaContactItem.astro";

const endpoint = new URL(Astro.request.url);
---

<Layout title="Contact Szász Barna">
  <BarnaLayout>
    <div class="relative left-[50rem]">
      <BarnaContactItem title="Email" value="beroer@protonmail.com" />
      <BarnaContactItem title="GitHub" value="https://github.com/waikoo" />
    </div>
  </BarnaLayout>
</Layout>
