---
import Layout from "../layouts/Layout.astro";
import HeroBackground from "../components/HeroBackground.astro";
import BarnaNameTag from "../components/BarnaNameTag.astro";
import BarnaMenu from "../components/BarnaMenu.astro";
import BarnaProjectCard from "../components/BarnaProjectCard.astro";
import { projects } from "../projects/data";
---

<Layout title="Szász Barna">
  <main class="relative">
    <HeroBackground />
    <div class="bg-[#125721] mix-blend-darken w-screen h-screen relative z-10">
    </div>

    <div class="absolute top-10">
      <BarnaNameTag />

      <div class="flex gap-32 relative z-50 mx-auto w-[85%]">
        <BarnaMenu />

        <div class="-mt-32">
          {projects.map((project) => <BarnaProjectCard {...project} />)}
        </div>
      </div>
    </div>
  </main>
</Layout>
