---
import Layout from "../layouts/Layout.astro";
import BarnaProjectCard from "../components/BarnaProjectCard.astro";
import BarnaLayout from "../components/BarnaLayout.astro";
import { projects } from "../projects/data";

// const referer = Astro.request.headers.get("referer");
---

<Layout title="Szász Barna's Projects">
  <BarnaLayout>
    <div class="-mt-[13.5rem] ml-[33rem]">
      {projects.map((project) => <BarnaProjectCard {...project} />)}
    </div>
  </BarnaLayout>
</Layout>
