---
import Layout from "../layouts/Layout.astro";
import BarnaNameTag from "../components/BarnaNameTag.astro";
import BarnaMenu from "../components/BarnaMenu.astro";
import BarnaProjectCard from "../components/BarnaProjectCard.astro";
import { projects } from "../projects/data";

// const referer = Astro.request.headers.get("referer");
const referer = "";
---

<script>
  window.addEventListener("DOMContentLoaded", () => {
    const circle = document.querySelector(".circle");
    if (circle) {
      circle.classList.add("move-circle");
    }

    setTimeout(() => {
      if (circle) {
        circle.classList.add("vanish");
      }
    }, 500);
  });
</script>

<Layout title="Szász Barna's Projects">
  <main
    class="absolute bg-[url('/images/bubbles.jpg')] bg-cover bg-no-repeat bg-fixed h-[2000px]"
  >
    <video
      class="absolute w-screen h-[2000px] object-cover mix-blend-color-dodge"
      autoplay
      loop
      muted
      playsinline
      transition:persist
      src="/videos/animated_gradient.mp4"></video>

    <div
      class="bg-[#206433] mix-blend-darken w-screen h-[2000px] relative z-10"
    >
    </div>

    <div class="absolute top-10 w-full">
      <BarnaNameTag />

      <div class="flex gap-16 relative z-50 mx-auto w-[85%] mt-[11rem]">
        <BarnaMenu referer={referer} />

        <div class="-mt-[13.5rem] ml-[33rem]">
          {projects.map((project) => <BarnaProjectCard {...project} />)}
        </div>
      </div>
    </div>
    <!-- <a -->
    <!--   class="absolute w-[575px] h-[575px] bg-[#ffcf25] rounded-full mix-blend-exclusion top-[18rem] left-[18rem] z-50 circle" -->
    <!--   href="/barna" -->
    <!--   transition:name="circle" -->
    <!-- > -->
  </main>
</Layout>

<style>
  .move-circle {
    transition:
      color 0.5s ease-in-out,
      transform 0.5s ease-in-out,
      width 0.5s ease-in-out,
      height 0.5s ease-in-out;
    left: 11rem;
    top: 20rem;
    width: 28px;
    height: 28px;
    background-color: #c3f96a;
  }

  .vanish {
    opacity: 0;
  }
</style>
