---
import Layout from "../layouts/Layout.astro";
import BarnaProjectCard from "../components/BarnaProjectCard.astro";
import { projects } from "../projects/data";
import PersonLayout from "../components/PersonLayout.astro";

const fullName = "Szász Barna";
---

<Layout title={`${fullName}'s Projects`}>
  <PersonLayout fullName={fullName}>
    <div class="lg:max-w-[90%] mx-auto">
      {projects.map((project) => <BarnaProjectCard {...project} />)}
    </div>
  </PersonLayout>
</Layout>
