---
import Layout from "../layouts/Layout.astro";
import BarnaProjectCard from "../components/BarnaProjectCard.astro";
import { projects } from "../projects/data";
import PersonLayout from "../components/PersonLayout.astro";
import HamburgerMenu from "../components/HamburgerMenu.astro";

const fullName = "Szász Barna";
---

<Layout title={`${fullName}'s Projects`}>
  <PersonLayout fullName={fullName}>
    <div
      class="w-[90%] lg:max-w-[960px] 2xl:max-w-[1400px] mx-auto pb-20 flex flex-col gap-[24px] lg:gap-20 mt-12"
    >
      {
        projects.map((project) => (
          <BarnaProjectCard fullName={fullName} {...project} />
        ))
      }
    </div>
  </PersonLayout>

  <HamburgerMenu fullName={fullName} />
</Layout>
