---
import Layout from "../layouts/Layout.astro";
import "@fontsource/jost/700.css";
import CursorFollowingCircle from "../components/CursorFollowingCircle.astro";
import HeroPerson from "../components/HeroPerson.astro";
import HeroBackground from "../components/HeroBackground.astro";
---

<Layout title="szasz.dev">
  <main class="relative w-screen h-[100dvh]">
    <HeroBackground />

    <div class="w-full h-full grid grid-cols-1 grid-rows-2">
      <HeroPerson
        fullName="SZÁSZ BARNA"
        className="col-start-1 col-end-2 row-start-1 row-end-2"
        occupation="Front-End Developer"
      />
      <HeroPerson
        fullName="SZÁSZ EVELIN"
        className="col-start-1 col-end-2 row-start-2 row-end-3"
        occupation="UI/UX Designer"
      />
    </div>

    <CursorFollowingCircle />
  </main>
</Layout>
