---
import Layout from "../layouts/Layout.astro";
import HeroEvelin from "../components/HeroEvelin.astro";
import HeroBubblesImage from "../components/HeroBubblesImage.astro";
import "@fontsource/jost/700.css";
import HeroBarna from "../components/HeroBarna.astro";
---

<script>
  import { animate, spring } from "motion";

  animate(".barna-circle", { y: -500 }, { easing: spring() });
  animate(".evelin-circle", { y: -500 }, { easing: spring() });

  animate(".barna-occupation", { opacity: 100, x: 200 }, { duration: 1.5 });
  animate(".evelin-occupation", { opacity: 100, x: 200 }, { duration: 1.5 });
</script>

<Layout title="szasz.dev">
  <main class="relative w-screen h-screen">
    <HeroBubblesImage src="/images/bubbles.jpg" />

    <div class="w-screen h-screen">
      <div class="w-full h-full grid place-items-center grid-cols-2 relative">
        <HeroBarna fullName="SZÁSZ BARNA" />
        <HeroEvelin fullName="SZÁSZ EVELIN" />
      </div>
    </div>
  </main>

  <style>
    .barna-occupation,
    .evelin-occupation {
      font-family: "Jost", sans-serif;
      font-weight: 700;
    }
  </style>
</Layout>
