---
import Layout from "../layouts/Layout.astro";
import HeroPerson from "../components/HeroPerson.astro";
---

<Layout title="szasz.dev">
  <main class="relative w-screen h-screen">
    <img
      src="/images/bubbles.jpg"
      alt="an abstract cluster of red blobs with white speckles, floating against a deep reddish-brown background with smooth, organic shapes"
      width={1920}
      height={1080}
      class="absolute w-screen h-screen object-cover"
      transition:persist
    />

    <div class="w-screen h-screen">
      <div class="w-full h-full grid place-items-center grid-cols-2">
        <a
          transition:name="hero"
          class="h-full w-full bg-[#0d7724] mix-blend-hard-light relative border-[1rem] border-red-800 green-bg"
          href="/barna"
        >
          <HeroPerson
            name="SZÁSZ"
            surname="BARNA"
            color="#fbd3d3"
            gridColumn="1/2"
            gridRow="1/2"
          />
          <a
            class="absolute w-[575px] h-[575px] bg-[#ffcf25] rounded-full mix-blend-exclusion top-[18rem] left-[18rem]"
            href="/barna"
            transition:name="circle"
          >
          </a>
        </a>
        <a
          class="absolute left-[32rem] top-[35rem] text-[60px] text-right tracking-tight"
          href="/barna"
        >
          <span class="block -mb-[2.6rem]">Front-End</span>
          <span class="block">Developer</span>
        </a>

        <a
          transition:name="hero"
          transition:animate="none"
          href="/evelin"
          class="bg-[#fec8ff] h-full w-full col-start-2 col-end-3 row-start-1 row-end-1 mix-blend-overlay border-[1rem] evelin-bg"
        >
          <HeroPerson
            name="SZÁSZ"
            surname="EVELIN"
            color="black"
            gridColumn="2/3"
            gridRow="1/2"
            transition:name="hero"
          />
        </a>
        <div
          class="absolute w-[575px] h-[575px] bg-[#f20000] rounded-full mix-blend-exclusion top-[19rem] right-[4rem]"
        >
        </div>
        <p
          class="absolute right-[8rem] top-[35rem] text-[60px] text-right tracking-tight text-white"
        >
          <span class="block -mb-[2.6rem]">UI/UX</span>
          <span class="block">Designer</span>
        </p>
      </div>
    </div>
  </main>
</Layout>

<style>
  @font-face {
    font-family: "Jost-Bold";
    src: url("/fonts/Jost-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  a {
    font-family: "Jost-Bold";
  }
</style>
