<aside class="fixed z-10">
  <nav>
    <ul class="jost text-[100px] tracking-tighter text-right text-white">
      <li>
        <a href="/">Home</a>
      </li>

      <li class="-mt-20">
        <a href="/barna">Projects</a>
      </li>

      <li class="-mt-[4.5rem]">
        <a href="/barna/cv">CV</a>
      </li>

      <li class="-mt-20">
        <a href="/barna/contact">Contact</a>
      </li>

      <li class="-mt-[4rem]">
        <a href="/barna/about">About Me</a>
      </li>
    </ul>
  </nav>
</aside>

<style>
  @font-face {
    font-family: "Jost-Bold";
    src: url("/fonts/Jost-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  .jost {
    font-family: "Jost-Bold";
  }
</style>
