---
import HeroPerson from "../components/HeroPerson.astro";
---

<div class="fixed flex gap-3 pl-12 z-50">
  <div transition:name="name">
    <HeroPerson
      surname="SZÃSZ"
      name="BARNA"
      color="#fbd3d3"
      gridColumn="1/2"
      gridRow="1/2"
      small="true"
      close="true"
    />
  </div>

  <div class="grid grid-rows-3 gap-0 jost text-[15px] text-white">
    <p class="">FRONT</p>
    <p class="-mt-2">END</p>
    <p class="-mt-4">DEVELOPER</p>
  </div>
</div>

<style>
  @font-face {
    font-family: "Jost-Bold";
    src: url("/fonts/Jost-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  .jost {
    font-family: "Jost-Bold";
  }
</style>
