---
const { referer } = Astro.props;

const { url: currentUrl } = Astro.request;

const isProjects =
  currentUrl.split("/").at(-1) === "barna" ? "text-[#c3f96a]" : "text-white";
const isCV = currentUrl.includes("cv") ? "text-[#c3f96a]" : "text-white";
const isContact = currentUrl.includes("contact")
  ? "text-[#c3f96a]"
  : "text-white";
const isAbout = currentUrl.includes("about") ? "text-[#c3f96a]" : "text-white";
---

<aside class="fixed z-10">
  <nav>
    <ul class="jost text-[100px] tracking-tighter text-white text-right">
      <li class="flex items-center justify-end">
        <div class="w-[28px] h-[28px] bg-[#c3f96a] rounded-full opacity-0">
        </div>
        <a href="/" class="">Home</a>
      </li>

      <li class={`${isProjects} flex items-center justify-end`}>
        {
          currentUrl.split("/").at(-1) === "barna" && (
            <div
              class="w-[28px] h-[28px] mr-[18px] bg-[#c3f96a] rounded-full"
              transition:name="menuitem"
            />
          )
        }
        <a href="/barna" class="">Projects</a>
      </li>

      <li class={`${isCV} mt-[0.4rem] flex items-center justify-end`}>
        {
          currentUrl.includes("cv") && (
            <div
              class="w-[28px] h-[28px] mr-[18px] bg-[#c3f96a] rounded-full"
              transition:name="menuitem"
            />
          )
        }
        <a href="/barna/cv" class="">CV</a>
      </li>

      <li class={`${isContact} flex items-center justify-end`}>
        {
          currentUrl.includes("contact") && (
            <div
              class="w-[28px] h-[28px] mr-[18px] bg-[#c3f96a] rounded-full"
              transition:name="menuitem"
            />
          )
        }
        <a href="/barna/contact" class="">Contact</a>
      </li>

      <li class={`${isAbout} flex items-center justify-end`}>
        {
          currentUrl.includes("about") && (
            <div
              class="w-[28px] h-[28px] mr-[18px] bg-[#c3f96a] rounded-full"
              transition:name="menuitem"
            />
          )
        }
        <a href="/barna/about" class="">About Me</a>
      </li>
    </ul>
  </nav>
</aside>

<style>
  @font-face {
    font-family: "Jost-Bold";
    src: url("/fonts/Jost-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  .jost {
    font-family: "Jost-Bold";
  }

  li {
    line-height: 1;
  }
</style>
