---
import "@fontsource/jost/700.css";
import HeroName from "./HeroName.astro";
---

<div class="fixed flex gap-3 z-50">
  <div transition:name="myname">
    <HeroName
      name="BARNA"
      surname="SZÃSZ"
      color="#fbd3d3"
      gridColumn="1/2"
      gridRow="1/2"
      small="true"
      close="true"
    />
  </div>

  <div class="grid grid-rows-3 gap-0 jost text-[15px] text-white">
    <p class="">FRONT</p>
    <p class="-mt-2">END</p>
    <p class="-mt-4">DEVELOPER</p>
  </div>
</div>

<style>
  .jost {
    font-family: "Jost", sans-serif;
    font-weight: 700;
  }
</style>
