---
const { title, value } = Astro.props;
---

<div class="flex flex-col mt-10">
  <span class="text-[#c3f96a] text-[70px] jost-bold">{title}</span>
  <div class="text-white text-[20px] roboto">
    <a class="" href={value.includes("@") ? `mailto:${value}` : value}>
      {value}
    </a>
  </div>
</div>

<style>
  @font-face {
    font-family: "Jost-Bold";
    src: url("/fonts/Jost-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  .jost-bold {
    font-family: "Jost-Bold";
  }

  .roboto {
    font-family: "Roboto";
  }
</style>
