---
const { tags, color } = Astro.props;
---

<div
  style={{ color: color }}
  class="flex gap-[6px] text-right w-full flex-wrap justify-end ml-auto align-end"
>
  {
    tags.map((tag: string) => (
      <div
        class="rounded-full p-1 px-3 mt-[2px] lg:text-[11px] tracking-[1px]"
        style={{ backgroundColor: `${color}15` }}
      >
        <span class="">{tag}</span>
      </div>
    ))
  }
</div>

<style>
  span {
    font-family: "Jost", sans-serif;
    font-weight: 600;
  }
</style>
