---
const { current } = Astro.props;

const pathname = current.pathname;

const isProjects =
  pathname.split("/").length === 2 && pathname.split("/")[1] === "barna"
    ? "text-[#c3f96a]"
    : "text-white";
const isCV = pathname.includes("cv") ? "text-[#c3f96a]" : "text-white";
const isContact = pathname.includes("contact")
  ? "text-[#c3f96a]"
  : "text-white";
const isAbout = pathname.includes("about") ? "text-[#c3f96a]" : "text-white";
---

<aside class="fixed z-10">
  <nav>
    <ul class="jost text-[100px] tracking-tighter text-white text-right">
      <li class="flex items-center justify-end">
        <div class="w-[28px] h-[28px] bg-[#c3f96a] rounded-full opacity-0">
        </div>
        <a href="/">Home</a>
      </li>

      <li class={`-mt-20 ${isProjects} flex items-center justify-end`}>
        {
          current.pathname.split("/").length === 2 &&
            current.pathname.split("/")[1] === "barna" && (
              <div class="w-[28px] h-[28px] mr-[18px] bg-[#c3f96a] rounded-full" />
            )
        }
        <a href="/barna">Projects</a>
      </li>

      <li class={`-mt-[4.5rem] ${isCV} flex items-center justify-end`}>
        {
          current.pathname.includes("cv") && (
            <div class="w-[28px] h-[28px] mr-[18px] bg-[#c3f96a] rounded-full" />
          )
        }
        <a href="/barna/cv">CV</a>
      </li>

      <li class={`-mt-20 ${isContact} flex items-center justify-end`}>
        {
          current.pathname.includes("contact") && (
            <div class="w-[28px] h-[28px] mr-[18px] bg-[#c3f96a] rounded-full" />
          )
        }
        <a href="/barna/contact">Contact</a>
      </li>

      <li class={`-mt-[4rem] ${isAbout} flex items-center justify-end`}>
        {
          current.pathname.includes("about") && (
            <div class="w-[28px] h-[28px] mr-[18px] bg-[#c3f96a] rounded-full" />
          )
        }
        <a href="/barna/about">About Me</a>
      </li>
    </ul>
  </nav>
</aside>

<style>
  @font-face {
    font-family: "Jost-Bold";
    src: url("/fonts/Jost-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  .jost {
    font-family: "Jost-Bold";
  }
</style>
