<script>
  import { circleFollowsMouseAndChangesColor } from "../utils/circleFollowsMouseAndChangesColor.ts";

  const circle = document.querySelector(".follow-circle") as HTMLDivElement;
  document.addEventListener("mousemove", (e) =>
    circleFollowsMouseAndChangesColor(e, circle),
  );
</script>

<div class="follow-circle"></div>

<style>
  .follow-circle {
    display: none;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: red;
    pointer-events: none;
    transition: transform 0.1s ease-out;
  }

  @media (min-width: 1024px) {
    .follow-circle {
      display: block;
    }
  }
</style>
