---
import EvelinFileWrapper from "./EvelinFileWrapper.astro";
import SiteMap from "./SiteMap.astro";
import Modal from "./Modal.astro";
import TapToEnlarge from "./TapToEnlarge.astro";
import TapToEnlargeBig from "./TapToEnlargeBig.astro";
import EvelinFilePainPoint from "./EvelinFilePainPoint.astro";
import UserFlow from "./UserFlow.astro";
import UserFlowModal from "./UserFlowModal.astro";
import MustardBgTitle from "./MustardBgTitle.astro";
import BigPictureStoryboard from "./BigPictureStoryboard.astro";
import BigPictureStoryboardModal from "./BigPictureStoryboardModal.astro";
import CloseUpStoryboard from "./CloseUpStoryboard.astro";
import CloseUpStoryboardModal from "./CloseUpStoryboardModal.astro";
import SiteMapModal from "./SiteMapModal.astro";

const { fileTitle, bgColor } = Astro.props;
---

<EvelinFileWrapper title={fileTitle} bgColor={bgColor}>
  <h3
    class="mt-[60px] my-[50px] sm:my-[45px] xl:mb-[65px] text-[21px] sm:text-[26px] xl:text-[40px] text-[#1e1e1e] font-extrabold text-center"
  >
    INFORMATION ARCHITECTURE
  </h3>

  <p class="text-[13px] sm:text-[14px] xl:text-[17px] bg-[#e7e3f567] p-5">
    Based on my research, I identified the need for a flexible and efficient
    product search experience, alongside a streamlined checkout process, to
    maximize user satisfaction. Understanding <strong
      >who the users are, what they seek, and how quickly they can achieve their
      goals was central to shaping the website’s structure.</strong
    > To achieve this, I prioritized presenting <strong
      >critical information</strong
    > and enabling <strong
      >multiple browsing options directly within the hero</strong
    >
    section, ensuring easy access from the moment users arrive. Each subsequent step
    in the user journey was designed to be seamless, intuitive, and logical. My guiding
    principle for developing the information architecture was to create <strong
      >an experience that feels both unique and delightful</strong
    >, catering effectively to <strong
      >the needs of both new and returning users</strong
    >.
  </p>

  <h4
    class="text-right text-[17px] sm:text-[21px] xl:text-[32px] text-[#1e1e1e] font-bold mt-[50px]"
  >
    SITEMAP
  </h4>

  <p
    class="text-[13px] sm:text-[14px] xl:text-[17px] bg-[#f9f9f9] border-[#e7e3f5] border-[1px] mt-[30px] mb-[50px] p-5"
  >
    The following Sitemap outlines the <strong>main sections and pages</strong> of
    the thrift store website. It is designed to <strong
      >prioritize easy access to key functions</strong
    > like searching for specific items based on previously <strong
      >saved filters, browsing inventory, and checking out.</strong
    >
  </p>

  <SiteMap />
  <SiteMapModal />
  <TapToEnlarge className="mt-[22px] sm:hidden" />
  <TapToEnlargeBig className="mt-[22px] hidden sm:flex" />

  <h4
    class="text-[#1e1e1e] text-[17px] sm:text-[21px] xl:text-[32px] font-bold"
  >
    USER FLOW
  </h4>
  <EvelinFilePainPoint
    bgColor={bgColor}
    className="mt-[20px] mb-[50px] sm:text-[14px]"
    >The primary path to browsing and purchasing a desired item from the thrift
    store website</EvelinFilePainPoint
  >

  <UserFlow />
  <UserFlowModal />
  <TapToEnlarge className="mt-[22px] sm:hidden" />
  <TapToEnlargeBig className="mt-[22px] hidden sm:flex" />

  <h4
    class="mt-32 text-[#1e1e1e] text-[17px] sm:text-[21px] xl:text-[32px] font-bold text-right"
  >
    STORYBOARDS
  </h4>
  <p
    class="mt-10 border-[#c8c9ac] p-5 border-[1px] text-[13px] sm:text-[14px] xl:text-[17px]"
  >
    The <strong>user flow</strong> provided a <strong
      >blueprint for how users navigate</strong
    > through the website to find and purchase products. The following <strong
      >storyboards illustrate this journey in a real-life context</strong
    >, showing how users interact with the platform and the environment in which
    they are using it. While the user flow focuses on the interactions within
    the digital space, the storyboards depict the <strong
      >emotions, motivations, and external factors</strong
    > that shape the overall experience.
  </p>

  <div
    class="text-[12px] sm:text-[13px] xl:text-[16px] xl:justify-center xl:flex mt-[70px]"
  >
    <p><strong>SCENARIO: </strong></p>
    <p class="pl-2 font-medium">
      A WEBSITE THAT ALLOWS USERS TO QUICKLY SHOP FROM THE THRIFT STORE ON THE
      GO
    </p>
  </div>

  <MustardBgTitle>BIG PICTURE STORYBOARD</MustardBgTitle>

  <BigPictureStoryboard />
  <BigPictureStoryboardModal />
  <TapToEnlarge className="mt-[22px] sm:hidden" />
  <TapToEnlargeBig className="mt-[22px] hidden sm:flex" />

  <MustardBgTitle className="text-right">CLOSE-UP STORYBOARD</MustardBgTitle>
  <CloseUpStoryboard />
  <CloseUpStoryboardModal />
  <TapToEnlarge className="mt-[22px] sm:hidden" />
  <TapToEnlargeBig className="mt-[22px] hidden sm:flex" />
</EvelinFileWrapper>

<style>
  * {
    font-family: "Jost", sans-serif;
  }
</style>
