---
const { noBg, className } = Astro.props;

const bgStyles = noBg ? "" : "bg-[#e8e9c4]";
---

<li
  class={`${bgStyles} ${className} p-1 px-5 text-[13px] sm:text-[15px] xl:text-[16px] rounded-[5px] list-none`}
>
  <slot />
</li>
