---
import EvelinFileWrapper from "./EvelinFileWrapper.astro";
import SiteMap from "./SiteMap.astro";
import Modal from "./Modal.astro";

const { fileTitle, bgColor } = Astro.props;
---

<EvelinFileWrapper title={fileTitle} bgColor={bgColor}>
  <h3
    class="mt-[80px] text-[21px] sm:text-[26px] xl:text-[40px] text-[#1e1e1e] font-extrabold"
  >
    INFORMATION ARCHITECTURE
  </h3>

  <p class="text-[13px] sm:text-[14px] xl:text-[17px] bg-[#e7e3f567] p-2">
    Based on my research, I identified the need for a flexible and efficient
    product search experience, alongside a streamlined checkout process, to
    maximize user satisfaction. Understanding <strong
      >who the users are, what they seek, and how quickly they can achieve their
      goals was central to shaping the website’s structure.</strong
    > To achieve this, I prioritized presenting <strong
      >critical information</strong
    > and enabling <strong
      >multiple browsing options directly within the hero</strong
    >
    section, ensuring easy access from the moment users arrive. Each subsequent step
    in the user journey was designed to be seamless, intuitive, and logical. My guiding
    principle for developing the information architecture was to create <strong
      >an experience that feels both unique and delightful</strong
    >, catering effectively to <strong
      >the needs of both new and returning users</strong
    >.
  </p>

  <h4
    class="text-[17px] sm:text-[21px] xl:text-[32px] text-[#1e1e1e] font-bold mt-[50px]"
  >
    SITEMAP
  </h4>

  <p class="bg-[#f9f9f9] border-[#e7e3f5] border-[1px] mt-[30px] p-2">
    The following Sitemap outlines the <strong>main sections and pages</strong> of
    the thrift store website. It is designed to <strong
      >prioritize easy access to key functions</strong
    > like searching for specific items based on previously <strong
      >saved filters, browsing inventory, and checking out.</strong
    >
  </p>

  <SiteMap />
  <Modal imgSelector=".sitemap" closeModalId="sitemap-modal">
    <SiteMap />
  </Modal>
</EvelinFileWrapper>

<style>
  * {
    font-family: "Jost", sans-serif;
  }
</style>
