---
import IconTriangleMobile from "./IconTriangleMobile.astro";

const { bgColor, className } = Astro.props;
---

<p class={`relative text-[13px] xl:text-[18px] ${className}`}>
  <IconTriangleMobile
    bgColor={bgColor}
    className="absolute top-[6px] left-[-13px]"
  />
  <slot />
</p>

<style>
  p {
    font-family: "Jost", sans-serif;
  }
</style>
