---
import "@fontsource/jost/800.css";
const { title, bgColor } = Astro.props;
---

<div class="mt-[15px] xl:mt-[30px] rounded-[5px]">
  <h4
    class="text-[15px] font-extrabold sm:text-[18px] xl:text-[24px] px-[8px] py-[4px] inline-block"
    style={{ backgroundColor: bgColor }}
  >
    {title}
  </h4>
  <p
    class="text-[16px] font-regular sm:text-[16px] xl:text-[17px] mt-2 ml-2 whitespace-nowrap"
  >
    <slot />
  </p>
</div>
