---
const { noBg, bgColor, padding, className, textSize } = Astro.props;

const bgStyles = noBg ? "" : bgColor ? bgColor : "bg-[#e8e9c4]";
const paddingStyles = padding ? padding : "p-1 px-5";
const textStyles = textSize
  ? textSize
  : "text-[13px] sm:text-[15px] xl:text-[16px]";
---

<li
  class={`${bgStyles} ${className} ${paddingStyles} ${textStyles} bullet rounded-[5px] list-none grid justify-start gap-2`}
>
  <div class="col-start-2 col-end-3 leading-[17px]">
    <slot />
  </div>
</li>

<style>
  .bullet::before {
    content: "•";
    color: black;
    grid-column: 1/2;
  }
</style>
