---
import PersonLinks from "../components/PersonLinks.astro";
import IconClose from "../components/IconClose.astro";
import { extractName } from "../utils/extractName";

const { fullName } = Astro.props;
const { name } = extractName(fullName);
const bgColor =
  name.toLowerCase() === "evelin" ? "bg-[#995ea2]" : "bg-[#9b991a]";
---

<script>
  const closeHamburgerMenu = () => {
    const hamburgerMenu = document.querySelector(".hamburger-menu");
    const closeIcon = document.querySelector(".icon-close");
    const hamburgerMenuInner = document.querySelector(".hamburger-inner");

    if (closeIcon && hamburgerMenu) {
      closeIcon.addEventListener("click", () => {
        hamburgerMenuInner?.classList.add("animate-[faderight_1s_ease-in-out]");
        setTimeout(() => {
          hamburgerMenu.classList.add("hidden");
          hamburgerMenuInner?.classList.remove(
            "animate-[faderight_1s_ease-in-out]",
          );
        }, 1000);
      });
    }
    if (hamburgerMenu) {
      hamburgerMenu.addEventListener("click", (e) => {
        if (e.target === hamburgerMenu) {
          hamburgerMenuInner?.classList.add(
            "animate-[faderight_1s_ease-in-out]",
          );
          setTimeout(() => {
            hamburgerMenu.classList.add("hidden");
            hamburgerMenuInner?.classList.remove(
              "animate-[faderight_1s_ease-in-out]",
            );
          }, 1000);
        }
      });
    }
  };
  document.addEventListener("DOMContentLoaded", closeHamburgerMenu);
</script>

<div
  class="z-101 fixed inset-0 bg-black/50 bg-opacity-70 hamburger-menu hidden lg:hidden"
>
  <section
    class={`min-h-[100dvh] w-[70%] sm:w-[30%] ml-auto ${bgColor} relative hamburger-inner`}
  >
    <PersonLinks
      lowercasedName={name.toLowerCase()}
      className="flex-col justify-center h-[100dvh] items-end gap-[5px] sm:gap-[10px] p-10"
      isHamburger={true}
    />
    <IconClose className="absolute top-5 right-5 icon-close cursor-pointer" />
  </section>
</div>

<style>
  @keyframes faderight {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(50px);
    }
  }
</style>
