---
import PersonLinks from "../components/PersonLinks.astro";
import IconClose from "../components/IconClose.astro";
import { extractName } from "../utils/extractName";

const { fullName } = Astro.props;
const { name } = extractName(fullName);
const bgColor =
  name.toLowerCase() === "evelin" ? "bg-[#995ea2]" : "bg-[#9b991a]";
---

<script>
  const hamburgerMenu = document.querySelector(".hamburger-menu");
  const closeIcon = document.querySelector(".icon-close");

  if (closeIcon && hamburgerMenu) {
    closeIcon.addEventListener("click", () => {
      hamburgerMenu.classList.add("hidden");
    });
  }
  if (hamburgerMenu) {
    hamburgerMenu.addEventListener("click", (e) => {
      if (e.target === hamburgerMenu) {
        hamburgerMenu.classList.add("hidden");
      }
    });
  }
</script>

<div
  class="z-[120] fixed inset-0 bg-black bg-opacity-70 hamburger-menu hidden lg:hidden"
>
  <section
    class={`min-h-[100dvh] w-[70%] sm:w-[30%] ml-auto ${bgColor} relative`}
  >
    <PersonLinks
      lowercasedName={fullName.split(" ")[1].toLowerCase()}
      className="flex-col justify-center h-[100dvh] items-end gap-[5px] sm:gap-[10px] p-10"
      isHamburger={true}
    />
    <IconClose className="absolute top-5 right-5 icon-close" />
  </section>
</div>
