---
import IconArrowMobile from "./IconArrowMobile.astro";
import IconArrowTablet from "./IconArrowTablet.astro";

const { iconColor } = Astro.props;
const lowerOpacityIconColor = `${iconColor}25`;
---

<div>
  <div
    style={{ backgroundColor: lowerOpacityIconColor }}
    class={`grid place-items-center rounded-full p-[1.20rem] sm:p-[1.70rem] mt-4`}
  >
    <IconArrowMobile iconColor={iconColor} className="sm:hidden" />

    <IconArrowTablet
      iconColor={iconColor}
      className="hidden sm:block lg:hidden"
    />
  </div>
</div>
