---
import HeroCircle from "./HeroCircle.astro";

const { name, iconColor, occupation } = Astro.props;
const [first, second] = occupation.split(" ");
const translateXOnMobile =
  name === "EVELIN"
    ? "translate-x-4 sm:translate-x-[52px] sm:translate-x-[40px] lg:translate-x-[35px]"
    : "sm:translate-x-[28px] lg:translate-x-[10px]";
---

<div
  class={`z-10 flex items-center gap-3 -translate-y-[90px] sm:-translate-y-[110px] lg:-translate-y-[130px] text-[24px] sm:text-[34px] lg:text-[50px] tracking-tighter ${translateXOnMobile}`}
>
  <HeroCircle iconColor={iconColor} />
  <div class="text-right">
    <p
      class="occupation mt-5 z-10"
      style={{
        color: iconColor,
      }}
    >
      {first}
    </p>
    <p
      class="occupation z-10 -translate-y-3 sm:-translate-y-5 lg:-translate-y-[34px]"
      style={{
        color: iconColor,
      }}
    >
      {second}
    </p>
  </div>
</div>

<style>
  p.occupation {
    font-family: "Jost", sans-serif;
    font-weight: 700;
  }
</style>
