---
import { Image } from "@astrojs/image/components";
const { type } = Astro.props;

const bg = {
  barna: "#025514",
  evelin: null,
  default: "linear-gradient(90deg, #025514 48%, rgba(0, 0, 0, 0) 53%)",
};
const finalBackground =
  type === "barna" ? bg.barna : type === "evelin" ? bg.evelin : bg.default;
---

<video
  class="absolute w-screen h-screen object-cover"
  autoplay
  loop
  muted
  playsinline
  src="/videos/animated_gradient.mp4"
>
</video>

<Image
  src="/images/home-bg.png"
  alt="an abstract cluster of red blobs with white speckles, floating against a deep reddish-brown background with smooth, organic shapes"
  width={1920}
  height={1080}
  class="absolute w-screen h-screen object-cover"
/>

<div
  style={`background: ${finalBackground}`}
  class="absolute w-screen h-screen mix-blend-color transition-opacity bg"
>
</div>
