---
const { id, className } = Astro.props;
---

<script is:inline define:vars={{ id }}>
  document.addEventListener("DOMContentLoaded", () => {
    const button = document.querySelector(`#${id}`);
    if (!button) return;

    button.addEventListener("click", () => {
      button.classList.toggle("active");
    });
  });
</script>

<div
  id={id}
  class={`group relative w-[12px] h-[12px] cursor-pointer ${className}`}
>
  <div
    class="before:absolute before:top-1/2 before:left-0 before:w-full before:h-[2px] before:bg-gray-800 before:transition-transform before:-translate-y-1/2
           after:absolute after:top-1/2 after:left-0 after:w-full after:h-[2px] after:bg-gray-800 after:transition-transform after:-translate-y-1/2 after:rotate-90
           group-[.active]:before:rotate-[-90deg] group-[.active]:before:opacity-0 group-[.active]:after:rotate-0"
  >
  </div>
</div>
