---
const { className, isInverted, projectLink } = Astro.props;
---

<a
  class={`${className} flex ${isInverted ? "lg:flex-row-reverse" : "lg:flex-row"} items-center gap-[10px] cursor-pointer transition-all duration-200 hover:drop-shadow-[0px_0px_3px_#e296f5]`}
  href={projectLink}
>
  <div
    class={`border-[#e296f5] border-[1px] rounded-full p-[12px] ${isInverted ? "lg:rotate-90" : ""}`}
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="none"
      viewBox="0 0 16 16"
    >
      <path
        fill="#E296F5"
        d="M1.636.636a1 1 0 00-1 1v9a1 1 0 102 0v-8h8a1 1 0 100-2h-9zm13.435 13.02L2.343.93.929 2.343l12.728 12.728 1.414-1.414z"
      ></path>
    </svg>
  </div>
  <span class="text-[#e296f5] text-[18px] font-regular">View Project</span>
</a>
