---
import ArrowDown from "./ArrowDown.astro";
---

<section
  class="relative p-[20px] sm:p-[60px] lg:p-[80px] 2xl:p-[130px] font-['Gothic'] animate-fade-right animate-once animate-duration-[1500ms] animate-ease-in-out"
>
  <h1
    class="text-[#d9d62d] font-bold tracking-[-3px] text-[48px] sm:text-[69px] lg:text-[70px] xl:text-[86px] 2xl:text-[100px] sm:tracking-[-6px] xl:tracking-[-8px] text-right"
  >
    <div class="lg:inline">
      <p class="lg:inline">FRONT-END</p>
      <p class="mt-[-30px] lg:inline">CHALLENGES</p>
      <p class="mt-[-30px] lg:inline">TO</p>
    </div>
    <div class="inline lg:block lg:mt-[-40px] xl:mt-[-50px] 2xl:mt-[-60px]">
      <p class="mt-[-30px] lg:inline">SMOOTH</p>
      <p class="mt-[-30px] lg:inline">EXPERIENCES</p>
    </div>
  </h1>

  <div
    class="uppercase font-medium text-[#e9eae2] text-right text-[12px] sm:text-[14px] xl:text-[16px] mt-[24px] ml-auto w-[226px] sm:w-full"
  >
    <p class="inline sm:block">
      I’m <strong class="text-[#d9d62e] font-medium">Barni</strong>, a
      33-year-old junior <strong class="text-[#d9d62e] font-medium"
        >front-end</strong
      > developer
    </p>
    <p class="inline sm:block">
      in <strong class="text-[#d9d62e] font-medium">Berlin</strong>. focused on <strong
        class="text-[#d9d62e] font-medium">building</strong
      > high-performance
    </p>
    <p class="inline sm:block">
      web experiences with clean, <strong class="text-[#d9d62e] font-medium"
        >efficient</strong
      > code.
    </p>
    <p class="inline sm:block">looking for a full-time role to bring fast,</p>
    <p class="inline sm:block">
      <strong class="font-medium text-[#d9d62e]"
        >seamless digital experiences</strong
      > to life.
    </p>
  </div>

  <a href="#last-project" class="mt-[50px]">
    <ArrowDown arrowColor="#d9d62e" circleColor="#00000080" />
  </a>
</section>
