---
import ArrowDown from "./ArrowDown.astro";
---

<section
  class="relative p-[20px] sm:p-[60px] lg:p-[80px] 2xl:p-[130px] font-['Gothic'] mx-auto w-[95%] animate-fade-right animate-once animate-duration-[1500ms] animate-ease-in-out"
>
  <h1
    class="text-[#cfb9ef] font-bold tracking-[-4.7px] text-[52px] sm:text-[72px] lg:text-[70px] xl:text-[90px] 2xl:text-[102px] sm:tracking-[-6px] xl:tracking-[-8px] 2xl:tracking-[-9px] text-right"
  >
    <div>
      <p class="lg:inline">DESIGNING</p>
      <p class="mt-[-29px] sm:mt-[-45px] lg:inline">WITH</p>
      <p class="mt-[-29px] sm:mt-[-45px] lg:inline">PURPOSE</p>
    </div>

    <div class="lg:mt-[-48px] xl:mt-[-58px] 2xl:mt-[-68px]">
      <p class="mt-[-29px] sm:mt-[-45px] lg:inline">CRAFTING</p>
      <p class="mt-[-29px] sm:mt-[-45px] lg:inline">WITH</p>
      <p class="mt-[-29px] sm:mt-[-45px] lg:inline">STYLE</p>
    </div>
  </h1>

  <div
    class="font-medium text-[#C48FDF] uppercase text-right tracking-[0.6px] sm:tracking-[0.7px] xl:tracking-[0.8px] text-[12px] sm:text-[14px] xl:text-[16px] mt-[20px] w-[216px] sm:w-full ml-auto"
  >
    <p class="inline sm:block">
      I’m <strong class="font-medium text-[#decff4]">Evelin</strong> a 33-year-old
      junior <strong class="font-medium text-[#decff4]">UI/UX</strong> designer
    </p>
    <p class="mt-[-5px] inline sm:block">
      in Berlin. dedicated to <strong class="font-medium text-[#decff4]"
        >shaping</strong
      > intuitive,
    </p>
    <p class="mt-[-5px] inline sm:block">
      aesthetically refined, user-centered <strong
        class="font-medium text-[#decff4]">digital</strong
      >
    </p>
    <p class="mt-[-5px] inline sm:block">
      <strong class="font-medium text-[#decff4]">experiences</strong>. Looking
      for a full-time role
    </p>
    <p class="mt-[-5px] inline sm:block">
      to create <strong class="font-medium text-[#decff4]"
        >design that truly connects.</strong
      >
    </p>
  </div>

  <a href="#last-project" class="mt-[50px]">
    <ArrowDown arrowColor="#CFB9EF" circleColor="#4b165c40" />
  </a>
</section>
