<div>
  <svg
    width="155"
    height="38"
    viewBox="0 0 155 38"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="hidden xl:block"
  >
    <path
      d="M1.34 29.3L1.34 28.36L3.6 28.36C4.06667 28.36 4.48667 28.28 4.86 28.12C5.23333 27.96 5.52667 27.7267 5.74 27.42C5.95333 27.1133 6.06 26.74 6.06 26.3C6.06 25.6333 5.82667 25.12 5.36 24.76C4.89333 24.3867 4.30667 24.2 3.6 24.2H1.7L1.7 35.2H3.8C4.4 35.2 4.92667 35.0933 5.38 34.88C5.84667 34.6667 6.20667 34.36 6.46 33.96C6.72667 33.56 6.86 33.0733 6.86 32.5C6.86 32.0733 6.78667 31.6933 6.64 31.36C6.49333 31.0267 6.28 30.7467 6 30.52C5.73333 30.2933 5.41333 30.1267 5.04 30.02C4.66667 29.9 4.25333 29.84 3.8 29.84H1.34L1.34 28.9H3.8C4.48 28.9 5.10667 28.9733 5.68 29.12C6.25333 29.2667 6.75333 29.4933 7.18 29.8C7.62 30.0933 7.96 30.4733 8.2 30.94C8.44 31.4067 8.56 31.96 8.56 32.6C8.56 33.52 8.34667 34.2867 7.92 34.9C7.50667 35.5 6.94 35.9533 6.22 36.26C5.51334 36.5533 4.70667 36.7 3.8 36.7H1.63406e-06L0 22.7L3.6 22.7C4.44 22.7 5.16667 22.8267 5.78 23.08C6.40667 23.3333 6.89333 23.72 7.24 24.24C7.58667 24.7467 7.76 25.4 7.76 26.2C7.76 26.8533 7.58667 27.4133 7.24 27.88C6.89333 28.3467 6.40667 28.7 5.78 28.94C5.16667 29.18 4.44 29.3 3.6 29.3L1.34 29.3Z"
      fill="#FFFB20"></path>
    <path
      d="M15.1994 32.5L15.7994 30.9L21.9994 30.9L22.5994 32.5H15.1994ZM18.8594 25.86L16.4994 31.42L16.3394 31.78L14.2594 36.7H12.3594L18.8594 22L25.3594 36.7H23.4594L21.4194 31.9L21.2594 31.5L18.8594 25.86Z"
      fill="#FFFB20"></path>
    <path
      d="M32.5625 29.8H34.4625L39.4625 36.7H37.3625L32.5625 29.8ZM30.0625 22.7H31.7625V36.7H30.0625L30.0625 22.7ZM31.0025 24.2V22.7H33.8625C34.7692 22.7 35.5758 22.8733 36.2825 23.22C37.0025 23.5533 37.5692 24.0333 37.9825 24.66C38.4092 25.2867 38.6225 26.0333 38.6225 26.9C38.6225 27.7533 38.4092 28.5 37.9825 29.14C37.5692 29.7667 37.0025 30.2533 36.2825 30.6C35.5758 30.9333 34.7692 31.1 33.8625 31.1H31.0025V29.6L33.8625 29.6C34.4625 29.6 34.9892 29.4933 35.4425 29.28C35.9092 29.0667 36.2692 28.76 36.5225 28.36C36.7892 27.96 36.9225 27.4733 36.9225 26.9C36.9225 26.3267 36.7892 25.84 36.5225 25.44C36.2692 25.04 35.9092 24.7333 35.4425 24.52C34.9892 24.3067 34.4625 24.2 33.8625 24.2L31.0025 24.2Z"
      fill="#FFFB20"></path>
    <path
      d="M54.8539 22.7H56.5539L56.5539 37.4L45.9539 26.28V36.7H44.2539V22L54.8539 33.12L54.8539 22.7Z"
      fill="#FFFB20"></path>
    <path
      d="M64.1017 32.5L64.7017 30.9H70.9017L71.5017 32.5L64.1017 32.5ZM67.7617 25.86L65.4017 31.42L65.2417 31.78L63.1617 36.7H61.2617L67.7617 22L74.2617 36.7H72.3617L70.3217 31.9L70.1617 31.5L67.7617 25.86Z"
      fill="#FFFB20"></path>
    <path
      d="M7.57078 15.46C7.89078 16.02 8.22412 16.5133 8.57078 16.94C8.93078 17.3667 9.33078 17.7 9.77078 17.94C10.2108 18.18 10.7108 18.3 11.2708 18.3C12.0174 18.3 12.6174 18.0933 13.0708 17.68C13.5241 17.2667 13.7508 16.74 13.7508 16.1C13.7508 15.4733 13.6041 14.9733 13.3108 14.6C13.0174 14.2267 12.6308 13.9267 12.1508 13.7C11.6841 13.46 11.1841 13.2467 10.6508 13.06C10.3041 12.94 9.91745 12.7867 9.49078 12.6C9.06412 12.4 8.65745 12.1533 8.27078 11.86C7.88411 11.5533 7.56411 11.18 7.31078 10.74C7.07078 10.3 6.95078 9.76001 6.95078 9.12001C6.95078 8.42668 7.12411 7.80668 7.47078 7.26001C7.81745 6.71334 8.29745 6.28668 8.91078 5.98001C9.52411 5.66001 10.2241 5.50001 11.0108 5.50001C11.7708 5.50001 12.4308 5.64667 12.9908 5.94001C13.5641 6.22001 14.0508 6.58667 14.4508 7.04001C14.8508 7.48001 15.1641 7.94667 15.3908 8.44001L13.9308 9.28001C13.7574 8.93334 13.5374 8.59334 13.2708 8.26001C13.0041 7.92667 12.6774 7.65334 12.2908 7.44001C11.9174 7.22668 11.4574 7.12001 10.9108 7.12001C10.1508 7.12001 9.59745 7.30668 9.25078 7.68001C8.90411 8.04001 8.73078 8.44668 8.73078 8.90001C8.73078 9.28668 8.83078 9.64668 9.03078 9.98001C9.23078 10.3 9.56411 10.6067 10.0308 10.9C10.5108 11.18 11.1574 11.46 11.9708 11.74C12.3441 11.8733 12.7374 12.0467 13.1508 12.26C13.5641 12.4733 13.9441 12.7467 14.2908 13.08C14.6508 13.4 14.9441 13.7933 15.1708 14.26C15.3974 14.7133 15.5108 15.26 15.5108 15.9C15.5108 16.5133 15.3908 17.0667 15.1508 17.56C14.9241 18.0533 14.6041 18.4733 14.1908 18.82C13.7908 19.1667 13.3308 19.4333 12.8108 19.62C12.3041 19.8067 11.7708 19.9 11.2108 19.9C10.4508 19.9 9.74412 19.74 9.09078 19.42C8.45078 19.0867 7.88412 18.6533 7.39078 18.12C6.91078 17.5733 6.51745 16.9933 6.21078 16.38L7.57078 15.46Z"
      fill="#FFFB20"></path>
    <path
      d="M20.1078 7.30001V5.70001L29.9078 5.7L22.5478 18.1L29.5078 18.1V19.7L19.7078 19.7L27.0678 7.3L20.1078 7.30001Z"
      fill="#FFFB20"></path>
    <path
      d="M36.2463 15.5L36.8463 13.9L43.0462 13.9L43.6463 15.5L36.2463 15.5ZM39.9062 8.86L37.5462 14.42L37.3862 14.78L35.3063 19.7H33.4062L39.9062 5L46.4063 19.7H44.5063L42.4663 14.9L42.3063 14.5L39.9062 8.86ZM42.5062 0.8L38.9062 3.8L38.0062 3.2L41.0062 0L42.5062 0.8Z"
      fill="#FFFB20"></path>
    <path
      d="M51.6294 15.46C51.9494 16.02 52.2827 16.5133 52.6294 16.94C52.9894 17.3667 53.3894 17.7 53.8294 17.94C54.2694 18.18 54.7694 18.3 55.3294 18.3C56.076 18.3 56.676 18.0933 57.1294 17.68C57.5827 17.2667 57.8094 16.74 57.8094 16.1C57.8094 15.4733 57.6627 14.9733 57.3694 14.6C57.076 14.2267 56.6894 13.9267 56.2094 13.7C55.7427 13.46 55.2427 13.2467 54.7094 13.06C54.3627 12.94 53.976 12.7867 53.5494 12.6C53.1227 12.4 52.716 12.1533 52.3294 11.86C51.9427 11.5533 51.6227 11.18 51.3694 10.74C51.1294 10.3 51.0094 9.76 51.0094 9.12C51.0094 8.42666 51.1827 7.80666 51.5294 7.26C51.876 6.71333 52.356 6.28666 52.9694 5.98C53.5827 5.66 54.2827 5.5 55.0694 5.5C55.8294 5.5 56.4894 5.64666 57.0494 5.94C57.6227 6.22 58.1094 6.58666 58.5094 7.04C58.9094 7.48 59.2227 7.94666 59.4494 8.44L57.9894 9.28C57.816 8.93333 57.596 8.59333 57.3294 8.26C57.0627 7.92666 56.736 7.65333 56.3494 7.44C55.976 7.22666 55.516 7.12 54.9694 7.12C54.2094 7.12 53.656 7.30666 53.3094 7.68C52.9627 8.04 52.7894 8.44666 52.7894 8.9C52.7894 9.28666 52.8894 9.64666 53.0894 9.98C53.2894 10.3 53.6227 10.6067 54.0894 10.9C54.5694 11.18 55.216 11.46 56.0294 11.74C56.4027 11.8733 56.796 12.0467 57.2094 12.26C57.6227 12.4733 58.0027 12.7467 58.3494 13.08C58.7094 13.4 59.0027 13.7933 59.2294 14.26C59.456 14.7133 59.5694 15.26 59.5694 15.9C59.5694 16.5133 59.4494 17.0667 59.2094 17.56C58.9827 18.0533 58.6627 18.4733 58.2494 18.82C57.8494 19.1667 57.3894 19.4333 56.8694 19.62C56.3627 19.8067 55.8294 19.9 55.2694 19.9C54.5094 19.9 53.8027 19.74 53.1494 19.42C52.5094 19.0867 51.9427 18.6533 51.4494 18.12C50.9694 17.5733 50.576 16.9933 50.2694 16.38L51.6294 15.46Z"
      fill="#FFFB20"></path>
    <path
      d="M64.1664 7.3V5.69999L73.9664 5.69999L66.6064 18.1L73.5664 18.1V19.7L63.7664 19.7L71.1264 7.29999L64.1664 7.3Z"
      fill="#FFFB20"></path>
    <path
      d="M81.7456 7.59601V5.74001L85.752 5.74001V7.59601L81.7456 7.59601ZM81.7456 11.1032V9.36241L85.624 9.36241V11.1032L81.7456 11.1032ZM80.312 5.74001L82.3856 5.74001V14.7L80.312 14.7V5.74001Z"
      fill="white"></path>
    <path
      d="M89.627 10.6424L91.867 10.6424L94.6702 14.7L92.1358 14.7L89.627 10.6424ZM87.387 5.74001L89.5502 5.74001V14.7L87.387 14.7V5.74001ZM88.7438 7.57041V5.74001L90.651 5.74001C91.419 5.74001 92.059 5.86374 92.571 6.11121C93.083 6.35867 93.4713 6.70427 93.7358 7.14801C94.0004 7.58321 94.1326 8.09094 94.1326 8.67121C94.1326 9.24294 94.0004 9.75067 93.7358 10.1944C93.4713 10.6296 93.083 10.9709 92.571 11.2184C92.059 11.4659 91.419 11.5896 90.651 11.5896H88.7438V9.91281L90.4974 9.91281C90.7876 9.91281 91.035 9.87014 91.2398 9.78481C91.4532 9.69094 91.6153 9.55867 91.7262 9.38801C91.8372 9.20881 91.8926 8.99547 91.8926 8.74801C91.8926 8.50054 91.8372 8.29148 91.7262 8.12081C91.6153 7.94161 91.4532 7.80508 91.2398 7.71121C91.035 7.61734 90.7876 7.57041 90.4974 7.57041L88.7438 7.57041Z"
      fill="white"></path>
    <path
      d="M97.4537 10.22C97.4537 10.7491 97.5561 11.2184 97.7609 11.628C97.9743 12.0291 98.2687 12.3448 98.6441 12.5752C99.0281 12.8056 99.4761 12.9208 99.9881 12.9208C100.492 12.9208 100.931 12.8056 101.307 12.5752C101.691 12.3448 101.985 12.0291 102.19 11.628C102.403 11.2184 102.51 10.7491 102.51 10.22C102.51 9.69094 102.407 9.22587 102.203 8.82481C101.998 8.41521 101.708 8.09521 101.332 7.86481C100.957 7.63441 100.509 7.5192 99.9881 7.51921C99.4761 7.51921 99.0281 7.63441 98.6441 7.86481C98.2687 8.09521 97.9743 8.41521 97.7609 8.82481C97.5561 9.22587 97.4537 9.69094 97.4537 10.22ZM95.1625 10.22C95.1625 9.52881 95.282 8.89734 95.5209 8.32561C95.7684 7.75387 96.1097 7.25894 96.5449 6.84081C96.9801 6.42267 97.4921 6.10267 98.0809 5.88081C98.6697 5.65041 99.3055 5.53521 99.9881 5.53521C100.679 5.53521 101.315 5.65041 101.895 5.88081C102.484 6.10267 102.996 6.42267 103.431 6.8408C103.867 7.25894 104.204 7.75387 104.443 8.3256C104.681 8.89734 104.801 9.5288 104.801 10.22C104.801 10.9112 104.681 11.5469 104.443 12.1272C104.212 12.7075 103.879 13.2109 103.444 13.6376C103.017 14.0643 102.51 14.3971 101.921 14.636C101.332 14.8664 100.688 14.9816 99.9881 14.9816C99.2799 14.9816 98.6313 14.8664 98.0425 14.636C97.4537 14.3971 96.9417 14.0643 96.5065 13.6376C96.0799 13.2109 95.7471 12.7075 95.5081 12.1272C95.2777 11.5469 95.1625 10.9112 95.1625 10.22Z"
      fill="white"></path>
    <path
      d="M112.369 5.74L114.456 5.74L114.456 15.148L108.261 9.6568V14.7H106.187V5.292L112.369 10.7832V5.74Z"
      fill="white"></path>
    <path
      d="M115.454 7.6728V5.74L122.545 5.74V7.6728L120.074 7.6728V14.7H117.911V7.6728L115.454 7.6728Z"
      fill="white"></path>
    <path
      d="M81.7456 25.7V23.9208L86.264 23.9208V25.7L81.7456 25.7ZM81.7456 18.5192V16.74L86.264 16.74V18.5192L81.7456 18.5192ZM81.7456 21.86V20.1192L86.008 20.1192V21.86L81.7456 21.86ZM80.312 16.74H82.3856V25.7H80.312V16.74Z"
      fill="white"></path>
    <path
      d="M94.2069 16.74H96.2933V26.148L90.0981 20.6568V25.7L88.0245 25.7V16.292L94.2069 21.7832V16.74Z"
      fill="white"></path>
    <path
      d="M98.187 16.74H100.414V25.7H98.187V16.74ZM101.387 25.7H99.6206V23.78H101.31C101.652 23.78 101.98 23.7373 102.296 23.652C102.62 23.5667 102.902 23.4259 103.141 23.2296C103.388 23.0333 103.584 22.7731 103.729 22.4488C103.875 22.116 103.947 21.7064 103.947 21.22C103.947 20.7336 103.875 20.3283 103.729 20.004C103.584 19.6712 103.388 19.4067 103.141 19.2104C102.902 19.0141 102.62 18.8733 102.296 18.788C101.98 18.7027 101.652 18.66 101.31 18.66H99.6206V16.74H101.387C102.368 16.74 103.217 16.9235 103.934 17.2904C104.651 17.6573 105.206 18.1736 105.598 18.8392C105.991 19.5048 106.187 20.2984 106.187 21.22C106.187 22.1331 105.991 22.9267 105.598 23.6008C105.206 24.2664 104.651 24.7827 103.934 25.1496C103.217 25.5165 102.368 25.7 101.387 25.7Z"
      fill="white"></path>
    <path
      d="M80.312 27.74H82.5392V36.7H80.312L80.312 27.74ZM83.512 36.7H81.7456V34.78H83.4352C83.7766 34.78 84.1051 34.7373 84.4208 34.652C84.7451 34.5667 85.0267 34.4259 85.2656 34.2296C85.5131 34.0333 85.7094 33.7731 85.8544 33.4488C85.9995 33.116 86.072 32.7064 86.072 32.22C86.072 31.7336 85.9995 31.3283 85.8544 31.004C85.7094 30.6712 85.5131 30.4067 85.2656 30.2104C85.0267 30.0141 84.7451 29.8733 84.4208 29.788C84.1051 29.7027 83.7766 29.66 83.4352 29.66H81.7456V27.74H83.512C84.4934 27.74 85.3424 27.9235 86.0592 28.2904C86.776 28.6573 87.3307 29.1736 87.7232 29.8392C88.1158 30.5048 88.312 31.2984 88.312 32.22C88.312 33.1331 88.1158 33.9267 87.7232 34.6008C87.3307 35.2664 86.7761 35.7827 86.0592 36.1496C85.3424 36.5165 84.4934 36.7 83.512 36.7Z"
      fill="white"></path>
    <path
      d="M91.1331 36.7V34.9208H95.6516V36.7H91.1331ZM91.1331 29.5192V27.74H95.6515V29.5192L91.1331 29.5192ZM91.1331 32.86V31.1192L95.3955 31.1192V32.86H91.1331ZM89.6995 27.74L91.7731 27.74V36.7H89.6995V27.74Z"
      fill="white"></path>
    <path
      d="M101.162 33.0904L103.351 27.74H105.886L101.162 37.2632L96.452 27.74H98.9736L101.162 33.0904Z"
      fill="white"></path>
    <path
      d="M108.258 36.7V34.9208H112.777V36.7L108.258 36.7ZM108.258 29.5192V27.74H112.777V29.5192L108.258 29.5192ZM108.258 32.86V31.1192L112.521 31.1192V32.86L108.258 32.86ZM106.825 27.74L108.898 27.74V36.7H106.825V27.74Z"
      fill="white"></path>
    <path
      d="M114.537 27.74H116.7L116.7 34.844L120.297 34.844V36.7H114.537L114.537 27.74Z"
      fill="white"></path>
    <path
      d="M122.691 32.22C122.691 32.7491 122.794 33.2184 122.998 33.628C123.212 34.0291 123.506 34.3448 123.882 34.5752C124.266 34.8056 124.714 34.9208 125.226 34.9208C125.729 34.9208 126.169 34.8056 126.544 34.5752C126.928 34.3448 127.222 34.0291 127.427 33.628C127.641 33.2184 127.747 32.7491 127.747 32.22C127.747 31.6909 127.645 31.2259 127.44 30.8248C127.235 30.4152 126.945 30.0952 126.57 29.8648C126.194 29.6344 125.746 29.5192 125.226 29.5192C124.714 29.5192 124.266 29.6344 123.882 29.8648C123.506 30.0952 123.212 30.4152 122.998 30.8248C122.794 31.2259 122.691 31.6909 122.691 32.22ZM120.4 32.22C120.4 31.5288 120.52 30.8973 120.758 30.3256C121.006 29.7539 121.347 29.2589 121.782 28.8408C122.218 28.4227 122.73 28.1027 123.318 27.8808C123.907 27.6504 124.543 27.5352 125.226 27.5352C125.917 27.5352 126.553 27.6504 127.133 27.8808C127.722 28.1027 128.234 28.4227 128.669 28.8408C129.104 29.2589 129.441 29.7539 129.68 30.3256C129.919 30.8973 130.038 31.5288 130.038 32.22C130.038 32.9112 129.919 33.5469 129.68 34.1272C129.45 34.7075 129.117 35.2109 128.682 35.6376C128.255 36.0643 127.747 36.3971 127.158 36.636C126.57 36.8664 125.925 36.9816 125.226 36.9816C124.517 36.9816 123.869 36.8664 123.28 36.636C122.691 36.3971 122.179 36.0643 121.744 35.6376C121.317 35.2109 120.985 34.7075 120.746 34.1272C120.515 33.5469 120.4 32.9112 120.4 32.22Z"
      fill="white"></path>
    <path
      d="M131.425 27.74L133.588 27.74L133.588 36.7H131.425V27.74ZM132.781 29.5192V27.74H134.535C135.294 27.74 135.93 27.8595 136.442 28.0984C136.963 28.3288 137.355 28.6616 137.62 29.0968C137.884 29.532 138.017 30.0568 138.017 30.6712C138.017 31.2685 137.884 31.7891 137.62 32.2328C137.355 32.668 136.963 33.0051 136.442 33.244C135.93 33.4744 135.294 33.5896 134.535 33.5896H132.781V31.8104H134.535C134.97 31.8104 135.311 31.7123 135.559 31.516C135.806 31.3197 135.93 31.0381 135.93 30.6712C135.93 30.2957 135.806 30.0099 135.559 29.8136C135.311 29.6173 134.97 29.5192 134.535 29.5192L132.781 29.5192Z"
      fill="white"></path>
    <path
      d="M140.833 36.7V34.9208H145.352V36.7H140.833ZM140.833 29.5192V27.74L145.352 27.74V29.5192L140.833 29.5192ZM140.833 32.86V31.1192H145.096V32.86H140.833ZM139.4 27.74H141.473V36.7H139.4V27.74Z"
      fill="white"></path>
    <path
      d="M149.352 32.6424H151.592L154.395 36.7H151.861L149.352 32.6424ZM147.112 27.74H149.275V36.7H147.112V27.74ZM148.469 29.5704V27.74L150.376 27.74C151.144 27.74 151.784 27.8637 152.296 28.1112C152.808 28.3587 153.196 28.7043 153.461 29.148C153.725 29.5832 153.858 30.0909 153.858 30.6712C153.858 31.2429 153.725 31.7507 153.461 32.1944C153.196 32.6296 152.808 32.9709 152.296 33.2184C151.784 33.4659 151.144 33.5896 150.376 33.5896L148.469 33.5896V31.9128H150.222C150.513 31.9128 150.76 31.8701 150.965 31.7848C151.178 31.6909 151.34 31.5587 151.451 31.388C151.562 31.2088 151.618 30.9955 151.618 30.748C151.618 30.5005 151.562 30.2915 151.451 30.1208C151.34 29.9416 151.178 29.8051 150.965 29.7112C150.76 29.6173 150.513 29.5704 150.222 29.5704L148.469 29.5704Z"
      fill="white"></path>
  </svg>

  <svg
    width="139"
    height="33"
    viewBox="0 0 139 33"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="xl:hidden"
  >
    <path
      d="M1.20638 25.853L1.20638 25.0235L3.24103 25.0235C3.66117 25.0235 4.03929 24.953 4.37539 24.8118C4.7115 24.6706 4.97559 24.4647 5.16765 24.1941C5.35971 23.9235 5.45574 23.5941 5.45574 23.2059C5.45574 22.6177 5.24567 22.1647 4.82554 21.8471C4.4054 21.5177 3.87724 21.353 3.24103 21.353H1.53049L1.53049 31.0588H3.42109C3.96126 31.0588 4.43541 30.9647 4.84354 30.7765C5.26368 30.5882 5.58778 30.3177 5.81585 29.9647C6.05593 29.6118 6.17597 29.1824 6.17597 28.6765C6.17597 28.3 6.10995 27.9647 5.97791 27.6706C5.84586 27.3765 5.6538 27.1294 5.40172 26.9294C5.16165 26.7294 4.87355 26.5824 4.53745 26.4882C4.20134 26.3824 3.82922 26.3294 3.42109 26.3294H1.20638L1.20638 25.5H3.42109C4.03329 25.5 4.59747 25.5647 5.11363 25.6941C5.62979 25.8235 6.07994 26.0235 6.46406 26.2941C6.86019 26.553 7.16628 26.8882 7.38235 27.3C7.59842 27.7118 7.70646 28.2 7.70646 28.7647C7.70646 29.5765 7.5144 30.253 7.13027 30.7941C6.75815 31.3235 6.24799 31.7235 5.59979 31.9941C4.96358 32.253 4.23735 32.3824 3.42109 32.3824H1.47112e-06L0 20.0294L3.24103 20.0294C3.99727 20.0294 4.65148 20.1412 5.20366 20.3647C5.76784 20.5882 6.20598 20.9294 6.51808 21.3882C6.83018 21.8353 6.98623 22.4118 6.98623 23.1177C6.98623 23.6941 6.83018 24.1882 6.51808 24.6C6.20598 25.0118 5.76784 25.3235 5.20366 25.5353C4.65148 25.7471 3.99727 25.853 3.24103 25.853L1.20638 25.853Z"
      fill="#FFFB20"></path>
    <path
      d="M13.6838 28.6765L14.224 27.2647L19.8057 27.2647L20.3459 28.6765H13.6838ZM16.9788 22.8177L14.8542 27.7235L14.7101 28.0412L12.8375 32.3824H11.127L16.9788 19.4118L22.8307 32.3824H21.1202L19.2836 28.1471L19.1395 27.7941L16.9788 22.8177Z"
      fill="#FFFB20"></path>
    <path
      d="M29.3156 26.2941H31.0261L35.5276 32.3824H33.637L29.3156 26.2941ZM27.0649 20.0294H28.5954V32.3824H27.0649L27.0649 20.0294ZM27.9111 21.3529V20.0294H30.486C31.3022 20.0294 32.0285 20.1824 32.6647 20.4882C33.3129 20.7824 33.823 21.2059 34.1951 21.7588C34.5793 22.3118 34.7713 22.9706 34.7713 23.7353C34.7713 24.4882 34.5793 25.1471 34.1951 25.7118C33.823 26.2647 33.3129 26.6941 32.6647 27C32.0285 27.2941 31.3022 27.4412 30.486 27.4412H27.9111V26.1177L30.486 26.1177C31.0261 26.1177 31.5003 26.0235 31.9084 25.8353C32.3285 25.6471 32.6527 25.3765 32.8807 25.0235C33.1208 24.6706 33.2408 24.2412 33.2408 23.7353C33.2408 23.2294 33.1208 22.8 32.8807 22.4471C32.6527 22.0941 32.3285 21.8235 31.9084 21.6353C31.5003 21.4471 31.0261 21.3529 30.486 21.3529L27.9111 21.3529Z"
      fill="#FFFB20"></path>
    <path
      d="M49.3842 20.0294H50.9147L50.9147 33L41.3717 23.1882V32.3824H39.8412V19.4118L49.3842 29.2235L49.3842 20.0294Z"
      fill="#FFFB20"></path>
    <path
      d="M57.7099 28.6765L58.2501 27.2647H63.8319L64.3721 28.6765L57.7099 28.6765ZM61.005 22.8176L58.8803 27.7235L58.7363 28.0412L56.8637 32.3824H55.1531L61.005 19.4118L66.8568 32.3823H65.1463L63.3097 28.1471L63.1657 27.7941L61.005 22.8176Z"
      fill="#FFFB20"></path>
    <path
      d="M6.81588 13.6412C7.10397 14.1353 7.40406 14.5706 7.71616 14.9471C8.04027 15.3235 8.40038 15.6177 8.79651 15.8294C9.19263 16.0412 9.64278 16.1471 10.1469 16.1471C10.8192 16.1471 11.3593 15.9647 11.7675 15.6C12.1756 15.2353 12.3796 14.7706 12.3796 14.2059C12.3796 13.6529 12.2476 13.2118 11.9835 12.8824C11.7194 12.5529 11.3713 12.2882 10.9392 12.0882C10.5191 11.8765 10.0689 11.6882 9.58876 11.5235C9.27666 11.4177 8.92855 11.2824 8.54443 11.1177C8.1603 10.9412 7.79419 10.7235 7.44608 10.4647C7.09796 10.1941 6.80987 9.86472 6.5818 9.47648C6.36573 9.08824 6.2577 8.61177 6.2577 8.04707C6.2577 7.4353 6.41375 6.88824 6.72585 6.40589C7.03795 5.92354 7.47008 5.54707 8.02226 5.27648C8.57443 4.99413 9.20464 4.85295 9.91286 4.85295C10.5971 4.85295 11.1913 4.98236 11.6954 5.24118C12.2116 5.48824 12.6497 5.81177 13.0098 6.21177C13.37 6.60001 13.6521 7.01177 13.8561 7.44707L12.5417 8.18824C12.3856 7.88236 12.1876 7.58236 11.9475 7.28824C11.7074 6.99413 11.4133 6.75295 11.0652 6.56471C10.7291 6.37648 10.315 6.28236 9.82283 6.28236C9.13861 6.28236 8.64046 6.44707 8.32836 6.77648C8.01626 7.09413 7.86021 7.45295 7.86021 7.85295C7.86021 8.19413 7.95024 8.51177 8.13029 8.80589C8.31035 9.08824 8.61045 9.35883 9.03058 9.61766C9.46272 9.86471 10.0449 10.1118 10.7771 10.3588C11.1132 10.4765 11.4674 10.6294 11.8395 10.8177C12.2116 11.0059 12.5537 11.2471 12.8658 11.5412C13.1899 11.8235 13.454 12.1706 13.6581 12.5824C13.8621 12.9824 13.9642 13.4647 13.9642 14.0294C13.9642 14.5706 13.8561 15.0588 13.64 15.4941C13.436 15.9294 13.1479 16.3 12.7758 16.6059C12.4157 16.9118 12.0015 17.1471 11.5334 17.3118C11.0772 17.4765 10.5971 17.5588 10.0929 17.5588C9.4087 17.5588 8.7725 17.4177 8.18431 17.1353C7.60813 16.8412 7.09797 16.4588 6.65382 15.9882C6.22169 15.5059 5.86757 14.9941 5.59149 14.453L6.81588 13.6412Z"
      fill="#FFFB20"></path>
    <path
      d="M18.1028 6.44118V5.02942L26.9256 5.02942L20.2995 15.9706L26.5655 15.9706V17.3824L17.7427 17.3824L24.3688 6.44118L18.1028 6.44118Z"
      fill="#FFFB20"></path>
    <path
      d="M32.632 13.6765L33.1722 12.2647L38.754 12.2647L39.2941 13.6765L32.632 13.6765ZM35.9271 7.81765L33.8024 12.7235L33.6583 13.0412L31.7858 17.3824H30.0752L35.9271 4.41177L41.7789 17.3824H40.0684L38.2318 13.1471L38.0878 12.7941L35.9271 7.81765ZM38.2678 0.705882L35.0268 3.35294L34.2165 2.82353L36.9174 0L38.2678 0.705882Z"
      fill="#FFFB20"></path>
    <path
      d="M46.4812 13.6412C46.7693 14.1353 47.0694 14.5706 47.3815 14.9471C47.7056 15.3235 48.0658 15.6176 48.4619 15.8294C48.858 16.0412 49.3081 16.1471 49.8123 16.1471C50.4845 16.1471 51.0247 15.9647 51.4328 15.6C51.841 15.2353 52.045 14.7706 52.045 14.2059C52.045 13.6529 51.913 13.2118 51.6489 12.8824C51.3848 12.5529 51.0367 12.2882 50.6046 12.0882C50.1844 11.8765 49.7343 11.6882 49.2541 11.5235C48.942 11.4176 48.5939 11.2824 48.2098 11.1176C47.8257 10.9412 47.4596 10.7235 47.1114 10.4647C46.7633 10.1941 46.4752 9.86471 46.2472 9.47647C46.0311 9.08823 45.9231 8.61176 45.9231 8.04706C45.9231 7.43529 46.0791 6.88823 46.3912 6.40588C46.7033 5.92353 47.1355 5.54706 47.6876 5.27647C48.2398 4.99412 48.87 4.85294 49.5782 4.85294C50.2624 4.85294 50.8566 4.98235 51.3608 5.24117C51.877 5.48823 52.3151 5.81176 52.6752 6.21176C53.0353 6.6 53.3174 7.01176 53.5215 7.44706L52.2071 8.18823C52.051 7.88235 51.853 7.58235 51.6129 7.28823C51.3728 6.99412 51.0787 6.75294 50.7306 6.5647C50.3945 6.37647 49.9804 6.28235 49.4882 6.28235C48.804 6.28235 48.3058 6.44706 47.9937 6.77647C47.6816 7.09412 47.5256 7.45294 47.5256 7.85294C47.5256 8.19412 47.6156 8.51176 47.7957 8.80588C47.9757 9.08823 48.2758 9.35882 48.6959 9.61765C49.1281 9.8647 49.7103 10.1118 50.4425 10.3588C50.7786 10.4765 51.1327 10.6294 51.5048 10.8176C51.877 11.0059 52.2191 11.2471 52.5312 11.5412C52.8553 11.8235 53.1194 12.1706 53.3234 12.5824C53.5275 12.9824 53.6295 13.4647 53.6295 14.0294C53.6295 14.5706 53.5215 15.0588 53.3054 15.4941C53.1014 15.9294 52.8133 16.3 52.4411 16.6059C52.081 16.9118 51.6669 17.1471 51.1987 17.3118C50.7426 17.4765 50.2625 17.5588 49.7583 17.5588C49.0741 17.5588 48.4379 17.4176 47.8497 17.1353C47.2735 16.8412 46.7633 16.4588 46.3192 15.9882C45.8871 15.5059 45.5329 14.9941 45.2569 14.4529L46.4812 13.6412Z"
      fill="#FFFB20"></path>
    <path
      d="M57.7682 6.44117V5.02941L66.591 5.0294L59.9649 15.9706L66.2309 15.9706V17.3823L57.4081 17.3823L64.0342 6.44117L57.7682 6.44117Z"
      fill="#FFFB20"></path>
    <path
      d="M73.5945 6.70236V5.06472L77.2014 5.06471V6.70236L73.5945 6.70236ZM73.5945 9.79695V8.26095L77.0862 8.26095V9.79695L73.5945 9.79695ZM72.3039 5.06472L74.1707 5.06472V12.9706L72.3039 12.9706V5.06472Z"
      fill="white"></path>
    <path
      d="M80.69 9.39036L82.7067 9.39036L85.2304 12.9706L82.9487 12.9706L80.69 9.39036ZM78.6734 5.06471L80.6209 5.06471V12.9706L78.6734 12.9706V5.06471ZM79.8949 6.67977V5.06471L81.6119 5.06471C82.3034 5.06471 82.8795 5.17389 83.3405 5.39224C83.8014 5.6106 84.151 5.91554 84.3891 6.30707C84.6273 6.69107 84.7464 7.13907 84.7464 7.65107C84.7464 8.15554 84.6273 8.60354 84.3891 8.99507C84.151 9.37907 83.8014 9.68024 83.3405 9.8986C82.8795 10.1169 82.3034 10.2261 81.6119 10.2261H79.8949V8.7466L81.4737 8.7466C81.7349 8.7466 81.9576 8.70895 82.142 8.63366C82.3341 8.55083 82.4801 8.43413 82.5799 8.28354C82.6798 8.12542 82.7297 7.93718 82.7297 7.71883C82.7297 7.50048 82.6798 7.31601 82.5799 7.16542C82.4801 7.0073 82.3341 6.88683 82.142 6.80401C81.9576 6.72118 81.7349 6.67977 81.4737 6.67977L79.8949 6.67977Z"
      fill="white"></path>
    <path
      d="M87.7363 9.01765C87.7363 9.48448 87.8285 9.8986 88.0129 10.26C88.205 10.6139 88.47 10.8925 88.808 11.0958C89.1537 11.2991 89.5571 11.4007 90.018 11.4007C90.4713 11.4007 90.8669 11.2991 91.2049 11.0958C91.5507 10.8925 91.8157 10.6139 92.0001 10.26C92.1921 9.89859 92.2882 9.48448 92.2882 9.01765C92.2882 8.55083 92.196 8.14048 92.0116 7.78659C91.8272 7.42518 91.566 7.14283 91.228 6.93953C90.89 6.73624 90.4866 6.63459 90.018 6.63459C89.5571 6.63459 89.1537 6.73624 88.808 6.93953C88.47 7.14283 88.205 7.42518 88.0129 7.78659C87.8285 8.14048 87.7363 8.55083 87.7363 9.01765ZM85.6736 9.01765C85.6736 8.40777 85.7811 7.8506 85.9962 7.34612C86.219 6.84165 86.5263 6.40495 86.9181 6.03601C87.3099 5.66707 87.7709 5.38471 88.301 5.18895C88.8311 4.98565 89.4034 4.88401 90.018 4.88401C90.6403 4.88401 91.2126 4.98565 91.735 5.18895C92.2651 5.38471 92.7261 5.66706 93.1179 6.036C93.5097 6.40495 93.8131 6.84165 94.0282 7.34612C94.2434 7.85059 94.3509 8.40777 94.3509 9.01765C94.3509 9.62753 94.2434 10.1885 94.0282 10.7005C93.8208 11.2125 93.5212 11.6567 93.1294 12.0332C92.7453 12.4097 92.2882 12.7033 91.7581 12.9141C91.228 13.1174 90.648 13.2191 90.018 13.2191C89.3804 13.2191 88.7965 13.1174 88.2664 12.9141C87.7363 12.7033 87.2754 12.4097 86.8836 12.0332C86.4994 11.6567 86.1998 11.2125 85.9847 10.7005C85.7773 10.1885 85.6736 9.62754 85.6736 9.01765Z"
      fill="white"></path>
    <path
      d="M101.165 5.06471L103.043 5.06471L103.043 13.3659L97.4656 8.52071V12.9706H95.5988V4.66942L101.165 9.51459V5.06471Z"
      fill="white"></path>
    <path
      d="M103.941 6.77012V5.06471L110.325 5.0647V6.77012L108.101 6.77012V12.9706H106.154V6.77012L103.941 6.77012Z"
      fill="white"></path>
    <path
      d="M73.5945 22.6765V21.1066L77.6624 21.1066V22.6765L73.5945 22.6765ZM73.5945 16.3405V14.7706L77.6624 14.7706V16.3405L73.5945 16.3405ZM73.5945 19.2882V17.7522L77.4319 17.7522V19.2882L73.5945 19.2882ZM72.3039 14.7706H74.1707V22.6765H72.3039V14.7706Z"
      fill="white"></path>
    <path
      d="M84.8133 14.7706H86.6916V23.0718L81.1142 18.2266V22.6765L79.2473 22.6765V14.3753L84.8133 19.2205V14.7706Z"
      fill="white"></path>
    <path
      d="M88.3965 14.7706H90.4016V22.6765H88.3965V14.7706ZM91.2774 22.6765H89.6871V20.9824H91.2083C91.5156 20.9824 91.8113 20.9447 92.0956 20.8694C92.3875 20.7941 92.6411 20.6699 92.8562 20.4967C93.079 20.3235 93.2556 20.0939 93.3863 19.8078C93.5169 19.5141 93.5822 19.1527 93.5822 18.7235C93.5822 18.2944 93.5169 17.9367 93.3863 17.6506C93.2556 17.3569 93.079 17.1235 92.8562 16.9504C92.6411 16.7772 92.3875 16.6529 92.0956 16.5777C91.8113 16.5024 91.5156 16.4647 91.2083 16.4647H89.6871V14.7706H91.2774C92.1609 14.7706 92.9253 14.9325 93.5706 15.2562C94.216 15.58 94.7153 16.0355 95.0687 16.6228C95.4221 17.2101 95.5988 17.9104 95.5988 18.7235C95.5988 19.5292 95.4221 20.2294 95.0687 20.8242C94.7153 21.4115 94.216 21.8671 93.5706 22.1908C92.9253 22.5146 92.1609 22.6765 91.2774 22.6765Z"
      fill="white"></path>
    <path
      d="M72.3039 24.4765H74.309V32.3824H72.3039L72.3039 24.4765ZM75.1848 32.3824H73.5945V30.6882H75.1157C75.423 30.6882 75.7187 30.6506 76.003 30.5753C76.2949 30.5 76.5484 30.3758 76.7635 30.2026C76.9863 30.0294 77.163 29.7998 77.2936 29.5137C77.4242 29.22 77.4895 28.8586 77.4895 28.4294C77.4895 28.0002 77.4242 27.6426 77.2936 27.3565C77.163 27.0628 76.9863 26.8294 76.7635 26.6562C76.5484 26.4831 76.2949 26.3588 76.003 26.2835C75.7187 26.2082 75.423 26.1706 75.1157 26.1706H73.5945V24.4765H75.1848C76.0683 24.4765 76.8327 24.6384 77.478 24.9621C78.1233 25.2859 78.6227 25.7414 78.9761 26.3287C79.3295 26.916 79.5062 27.6162 79.5062 28.4294C79.5062 29.2351 79.3295 29.9353 78.9761 30.5301C78.6227 31.1174 78.1233 31.573 77.478 31.8967C76.8327 32.2205 76.0683 32.3824 75.1848 32.3824Z"
      fill="white"></path>
    <path
      d="M82.046 32.3824V30.8125H86.1138V32.3824H82.046ZM82.046 26.0464V24.4765H86.1138V26.0464L82.046 26.0464ZM82.046 28.9941V27.4581L85.8834 27.4581V28.9941H82.046ZM80.7553 24.4765L82.6222 24.4765V32.3824H80.7553V24.4765Z"
      fill="white"></path>
    <path
      d="M91.0752 29.1974L93.0458 24.4765H95.3275L91.0752 32.8793L86.8345 24.4765H89.1047L91.0752 29.1974Z"
      fill="white"></path>
    <path
      d="M97.4634 32.3824V30.8125H101.531V32.3824L97.4634 32.3824ZM97.4634 26.0464V24.4765H101.531V26.0464L97.4634 26.0464ZM97.4634 28.9941V27.4581L101.301 27.4581V28.9941L97.4634 28.9941ZM96.1727 24.4765L98.0396 24.4765V32.3824H96.1727V24.4765Z"
      fill="white"></path>
    <path
      d="M103.116 24.4765H105.064L105.064 30.7447L108.302 30.7447V32.3824H103.116L103.116 24.4765Z"
      fill="white"></path>
    <path
      d="M110.457 28.4294C110.457 28.8962 110.549 29.3104 110.734 29.6718C110.926 30.0256 111.191 30.3042 111.529 30.5075C111.875 30.7108 112.278 30.8125 112.739 30.8125C113.192 30.8125 113.588 30.7108 113.926 30.5075C114.272 30.3042 114.537 30.0256 114.721 29.6718C114.913 29.3104 115.009 28.8962 115.009 28.4294C115.009 27.9626 114.917 27.5522 114.733 27.1984C114.548 26.8369 114.287 26.5546 113.949 26.3513C113.611 26.148 113.208 26.0464 112.739 26.0464C112.278 26.0464 111.875 26.148 111.529 26.3513C111.191 26.5546 110.926 26.8369 110.734 27.1984C110.549 27.5522 110.457 27.9626 110.457 28.4294ZM108.395 28.4294C108.395 27.8195 108.502 27.2624 108.717 26.7579C108.94 26.2534 109.247 25.8167 109.639 25.4478C110.031 25.0788 110.492 24.7965 111.022 24.6007C111.552 24.3974 112.124 24.2958 112.739 24.2958C113.361 24.2958 113.934 24.3974 114.456 24.6007C114.986 24.7965 115.447 25.0788 115.839 25.4478C116.231 25.8167 116.534 26.2534 116.749 26.7579C116.964 27.2624 117.072 27.8195 117.072 28.4294C117.072 29.0393 116.964 29.6002 116.749 30.1122C116.542 30.6242 116.242 31.0685 115.85 31.4449C115.466 31.8214 115.009 32.1151 114.479 32.3259C113.949 32.5292 113.369 32.6308 112.739 32.6308C112.101 32.6308 111.517 32.5292 110.987 32.3259C110.457 32.1151 109.996 31.8214 109.605 31.4449C109.22 31.0685 108.921 30.6242 108.706 30.1122C108.498 29.6002 108.395 29.0393 108.395 28.4294Z"
      fill="white"></path>
    <path
      d="M118.32 24.4765L120.267 24.4765L120.267 32.3824H118.32V24.4765ZM119.541 26.0464V24.4765H121.12C121.804 24.4765 122.376 24.5819 122.837 24.7927C123.306 24.996 123.659 25.2896 123.897 25.6736C124.135 26.0576 124.254 26.5207 124.254 27.0628C124.254 27.5899 124.135 28.0492 123.897 28.4407C123.659 28.8247 123.306 29.1221 122.837 29.3329C122.376 29.5362 121.804 29.6379 121.12 29.6379H119.541V28.068H121.12C121.512 28.068 121.819 27.9814 122.042 27.8082C122.265 27.6351 122.376 27.3866 122.376 27.0628C122.376 26.7315 122.265 26.4793 122.042 26.3061C121.819 26.1329 121.512 26.0463 121.12 26.0463L119.541 26.0464Z"
      fill="white"></path>
    <path
      d="M126.79 32.3823V30.8125H130.858V32.3823H126.79ZM126.79 26.0463V24.4765L130.858 24.4765V26.0463L126.79 26.0463ZM126.79 28.9941V27.4581H130.628V28.9941H126.79ZM125.5 24.4765H127.366V32.3823H125.5V24.4765Z"
      fill="white"></path>
    <path
      d="M134.46 28.8021H136.476L139 32.3823H136.718L134.46 28.8021ZM132.443 24.4765H134.391V32.3823H132.443V24.4765ZM133.665 26.0915V24.4765L135.382 24.4765C136.073 24.4765 136.649 24.5856 137.11 24.804C137.571 25.0223 137.921 25.3273 138.159 25.7188C138.397 26.1028 138.516 26.5508 138.516 27.0628C138.516 27.5673 138.397 28.0153 138.159 28.4068C137.921 28.7908 137.571 29.092 137.11 29.3103C136.649 29.5287 136.073 29.6379 135.382 29.6379L133.665 29.6379V28.1583H135.243C135.504 28.1583 135.727 28.1207 135.912 28.0454C136.104 27.9626 136.25 27.8459 136.35 27.6953C136.449 27.5372 136.499 27.3489 136.499 27.1306C136.499 26.9122 136.449 26.7278 136.35 26.5772C136.25 26.4191 136.104 26.2986 135.912 26.2158C135.727 26.1329 135.504 26.0915 135.243 26.0915L133.665 26.0915Z"
      fill="white"></path>
  </svg>
</div>
