<div>
  <svg
    width="149"
    height="38"
    viewBox="0 0 149 38"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="hidden xl:block"
  >
    <path
      d="M0.930725 37.0001L0.930725 35.4001L7.99073 35.4001V37.0001H0.930725ZM0.930723 24.6001L0.930723 23.0001L7.99072 23.0001L7.99072 24.6001L0.930723 24.6001ZM0.930724 30.2001L0.930724 28.6001L7.59072 28.6001L7.59072 30.2001L0.930724 30.2001ZM-0.00927734 23.0001H1.69072L1.69073 37.0001H-0.00927477L-0.00927734 23.0001Z"
      fill="#E8CFFF"></path>
    <path
      d="M18.9868 33.8401L23.5868 23.0001H25.4868L18.9868 37.7001L12.4868 23.0001H14.3868L18.9868 33.8401Z"
      fill="#E8CFFF"></path>
    <path
      d="M31.1299 37.0001V35.4001H38.1899V37L31.1299 37.0001ZM31.1299 24.6001V23.0001L38.1899 23V24.6001H31.1299ZM31.1299 30.2001V28.6001H37.7899V30.2001H31.1299ZM30.1899 23.0001H31.8899L31.8899 37.0001H30.1899L30.1899 23.0001Z"
      fill="#E8CFFF"></path>
    <path
      d="M44.186 23H45.886V35.4001L51.386 35.4V37H44.186L44.186 23Z"
      fill="#E8CFFF"></path>
    <path d="M56.1899 23H57.8899V37H56.1899L56.1899 23Z" fill="#E8CFFF"></path>
    <path
      d="M74.6923 23H76.3923V37.7L65.7923 26.58L65.7923 37H64.0923V22.3L74.6923 33.42V23Z"
      fill="#E8CFFF"></path>
    <path
      d="M11.206 15.7601C11.526 16.3201 11.8594 16.8134 12.206 17.2401C12.566 17.6667 12.966 18.0001 13.406 18.2401C13.846 18.4801 14.346 18.6001 14.906 18.6001C15.6527 18.6001 16.2527 18.3934 16.706 17.9801C17.1594 17.5667 17.386 17.0401 17.386 16.4001C17.386 15.7734 17.2394 15.2734 16.946 14.9001C16.6527 14.5267 16.266 14.2267 15.786 14.0001C15.3194 13.7601 14.8194 13.5467 14.286 13.3601C13.9394 13.2401 13.5527 13.0867 13.126 12.9001C12.6994 12.7001 12.2927 12.4534 11.906 12.1601C11.5194 11.8534 11.1994 11.4801 10.946 11.0401C10.706 10.6001 10.586 10.0601 10.586 9.42006C10.586 8.72672 10.7594 8.10672 11.106 7.56006C11.4527 7.01339 11.9327 6.58672 12.546 6.28005C13.1594 5.96005 13.8594 5.80005 14.646 5.80005C15.406 5.80005 16.066 5.94672 16.626 6.24005C17.1994 6.52005 17.686 6.88672 18.086 7.34005C18.486 7.78005 18.7994 8.24672 19.026 8.74005L17.566 9.58005C17.3927 9.23339 17.1727 8.89339 16.906 8.56005C16.6394 8.22672 16.3127 7.95339 15.926 7.74005C15.5527 7.52672 15.0927 7.42006 14.546 7.42006C13.786 7.42006 13.2327 7.60672 12.886 7.98006C12.5394 8.34006 12.366 8.74672 12.366 9.20006C12.366 9.58672 12.466 9.94672 12.666 10.2801C12.866 10.6001 13.1994 10.9067 13.666 11.2001C14.146 11.4801 14.7927 11.7601 15.606 12.0401C15.9794 12.1734 16.3727 12.3467 16.786 12.5601C17.1994 12.7734 17.5794 13.0467 17.926 13.3801C18.286 13.7001 18.5794 14.0934 18.806 14.5601C19.0327 15.0134 19.146 15.5601 19.146 16.2001C19.146 16.8134 19.026 17.3667 18.786 17.8601C18.5594 18.3534 18.2394 18.7734 17.826 19.1201C17.426 19.4667 16.966 19.7334 16.446 19.9201C15.9394 20.1067 15.406 20.2001 14.846 20.2001C14.086 20.2001 13.3794 20.0401 12.726 19.7201C12.086 19.3867 11.5194 18.9534 11.026 18.4201C10.546 17.8734 10.1527 17.2934 9.84604 16.6801L11.206 15.7601Z"
      fill="#E8CFFF"></path>
    <path
      d="M23.7431 7.60005V6.00005L33.5431 6.00005L26.1831 18.4001H33.1431V20.0001L23.3431 20.0001L30.7031 7.60005L23.7431 7.60005Z"
      fill="#E8CFFF"></path>
    <path
      d="M39.8815 15.8001L40.4815 14.2001L46.6815 14.2L47.2815 15.8L39.8815 15.8001ZM43.5415 9.16005L41.1815 14.7201L41.0215 15.0801L38.9415 20.0001H37.0415L43.5415 5.30005L50.0415 20H48.1415L46.1015 15.2L45.9415 14.8L43.5415 9.16005ZM46.1415 1.10005L42.5415 4.10005L41.6415 3.50005L44.6415 0.300049L46.1415 1.10005Z"
      fill="#E8CFFF"></path>
    <path
      d="M55.2646 15.76C55.5846 16.32 55.918 16.8134 56.2646 17.24C56.6246 17.6667 57.0246 18 57.4646 18.24C57.9046 18.48 58.4046 18.6 58.9646 18.6C59.7113 18.6 60.3113 18.3934 60.7646 17.98C61.218 17.5667 61.4446 17.04 61.4446 16.4C61.4446 15.7734 61.298 15.2734 61.0046 14.9C60.7113 14.5267 60.3246 14.2267 59.8446 14C59.378 13.76 58.878 13.5467 58.3446 13.36C57.998 13.24 57.6113 13.0867 57.1846 12.9C56.758 12.7 56.3513 12.4534 55.9646 12.16C55.578 11.8534 55.258 11.48 55.0046 11.04C54.7646 10.6 54.6446 10.06 54.6446 9.42005C54.6446 8.72672 54.818 8.10671 55.1646 7.56005C55.5113 7.01338 55.9913 6.58671 56.6046 6.28005C57.218 5.96005 57.918 5.80005 58.7046 5.80005C59.4646 5.80005 60.1246 5.94671 60.6846 6.24005C61.258 6.52005 61.7446 6.88671 62.1446 7.34005C62.5446 7.78005 62.858 8.24671 63.0846 8.74005L61.6246 9.58005C61.4513 9.23338 61.2313 8.89338 60.9646 8.56005C60.698 8.22671 60.3713 7.95338 59.9846 7.74005C59.6113 7.52671 59.1513 7.42005 58.6046 7.42005C57.8446 7.42005 57.2913 7.60671 56.9446 7.98005C56.598 8.34005 56.4246 8.74671 56.4246 9.20005C56.4246 9.58671 56.5246 9.94671 56.7246 10.28C56.9246 10.6 57.258 10.9067 57.7246 11.2C58.2046 11.48 58.8513 11.76 59.6646 12.04C60.038 12.1734 60.4313 12.3467 60.8446 12.56C61.258 12.7734 61.638 13.0467 61.9846 13.38C62.3446 13.7 62.638 14.0934 62.8646 14.56C63.0913 15.0134 63.2046 15.56 63.2046 16.2C63.2046 16.8134 63.0846 17.3667 62.8446 17.86C62.618 18.3534 62.298 18.7734 61.8846 19.12C61.4846 19.4667 61.0246 19.7334 60.5046 19.92C59.998 20.1067 59.4646 20.2 58.9046 20.2C58.1446 20.2 57.438 20.04 56.7846 19.72C56.1446 19.3867 55.578 18.9534 55.0846 18.42C54.6046 17.8734 54.2113 17.2934 53.9046 16.68L55.2646 15.76Z"
      fill="#E8CFFF"></path>
    <path
      d="M67.8017 7.60005V6.00005L77.6017 6.00004L70.2417 18.4H77.2017V20H67.4017L74.7617 7.60005L67.8017 7.60005Z"
      fill="#E8CFFF"></path>
    <path
      d="M83.8833 6.04006L86.0465 6.04006V11.9025C86.0465 12.3547 86.166 12.7217 86.4049 13.0033C86.6438 13.2849 87.0022 13.4257 87.4801 13.4257C87.9665 13.4257 88.3292 13.2849 88.5681 13.0033C88.807 12.7217 88.9265 12.3547 88.9265 11.9025V6.04006L91.0897 6.04006V12.0561C91.0897 12.6193 90.9958 13.1099 90.8081 13.5281C90.6289 13.9462 90.3729 14.2918 90.0401 14.5649C89.7158 14.8294 89.3318 15.0299 88.8881 15.1665C88.4529 15.303 87.9836 15.3713 87.4801 15.3713C86.9766 15.3713 86.5073 15.303 86.0721 15.1665C85.6369 15.0299 85.2529 14.8294 84.9201 14.5649C84.5958 14.2918 84.3398 13.9462 84.1521 13.5281C83.9729 13.1099 83.8833 12.6193 83.8833 12.0561V6.04006Z"
      fill="#E296F5"></path>
    <path
      d="M92.9223 6.04006L95.1239 6.04006V15.0001H92.9223L92.9223 6.04006Z"
      fill="#E296F5"></path>
    <path
      d="M83.8833 17.0401H86.0465V22.9025C86.0465 23.3547 86.166 23.7217 86.4049 24.0033C86.6438 24.2849 87.0022 24.4257 87.4801 24.4257C87.9665 24.4257 88.3292 24.2849 88.5681 24.0033C88.807 23.7217 88.9265 23.3547 88.9265 22.9025V17.0401H91.0897V23.0561C91.0897 23.6193 90.9958 24.1099 90.8081 24.5281C90.6289 24.9462 90.3729 25.2918 90.0401 25.5649C89.7158 25.8294 89.3318 26.0299 88.8881 26.1665C88.4529 26.303 87.9836 26.3713 87.4801 26.3713C86.9766 26.3713 86.5073 26.303 86.0721 26.1665C85.6369 26.0299 85.2529 25.8294 84.9201 25.5649C84.5958 25.2918 84.3398 24.9462 84.1521 24.5281C83.9729 24.1099 83.8833 23.6193 83.8833 23.0561V17.0401Z"
      fill="#E296F5"></path>
    <path
      d="M97.8375 17.0401H100.513L97.6967 21.4049L100.705 26.0001H98.0295L96.3911 23.0177L94.7015 26.0001L92.0263 26.0001L95.0983 21.4049L92.3463 17.0401L95.0215 17.0401L96.4039 19.6385L97.8375 17.0401Z"
      fill="#E296F5"></path>
    <path
      d="M83.9473 28.0401H86.1745V37.0001H83.9473V28.0401ZM87.1473 37.0001H85.3809V35.0801H87.0705C87.4118 35.0801 87.7404 35.0374 88.0561 34.9521C88.3804 34.8667 88.662 34.7259 88.9009 34.5297C89.1484 34.3334 89.3446 34.0731 89.4897 33.7489C89.6348 33.4161 89.7073 33.0065 89.7073 32.5201C89.7073 32.0337 89.6348 31.6283 89.4897 31.3041C89.3446 30.9713 89.1484 30.7067 88.9009 30.5105C88.662 30.3142 88.3804 30.1734 88.0561 30.0881C87.7404 30.0027 87.4118 29.9601 87.0705 29.9601L85.3809 29.9601V28.0401H87.1473C88.1286 28.0401 88.9777 28.2235 89.6945 28.5905C90.4113 28.9574 90.966 29.4737 91.3585 30.1393C91.751 30.8049 91.9473 31.5985 91.9473 32.5201C91.9473 33.4331 91.751 34.2267 91.3585 34.9009C90.966 35.5665 90.4113 36.0827 89.6945 36.4497C88.9777 36.8166 88.1286 37.0001 87.1473 37.0001Z"
      fill="#E296F5"></path>
    <path
      d="M94.7684 37.0001V35.2209H99.2868V37.0001L94.7684 37.0001ZM94.7684 29.8193V28.0401H99.2868V29.8193L94.7684 29.8193ZM94.7684 33.1601V31.4193L99.0308 31.4193V33.1601L94.7684 33.1601ZM93.3348 28.0401L95.4084 28.0401V37.0001H93.3348V28.0401Z"
      fill="#E296F5"></path>
    <path
      d="M102.033 33.8513C102.212 34.1755 102.413 34.4571 102.635 34.6961C102.865 34.935 103.112 35.1185 103.377 35.2465C103.65 35.3745 103.936 35.4385 104.235 35.4385C104.55 35.4385 104.811 35.3617 105.015 35.2081C105.22 35.0459 105.323 34.8283 105.323 34.5553C105.323 34.3249 105.263 34.1414 105.143 34.0049C105.024 33.8598 104.832 33.7233 104.567 33.5953C104.303 33.4673 103.953 33.3222 103.518 33.1601C103.304 33.0833 103.057 32.9766 102.775 32.8401C102.502 32.7035 102.242 32.5286 101.994 32.3153C101.747 32.0934 101.542 31.8289 101.38 31.5217C101.218 31.2059 101.137 30.8262 101.137 30.3825C101.137 29.8534 101.273 29.3969 101.547 29.0129C101.828 28.6289 102.204 28.3387 102.673 28.1425C103.151 27.9377 103.68 27.8353 104.26 27.8353C104.857 27.8353 105.374 27.9334 105.809 28.1297C106.253 28.3259 106.62 28.5734 106.91 28.8721C107.2 29.1707 107.422 29.4737 107.575 29.7809L105.924 30.7025C105.796 30.4891 105.647 30.3057 105.476 30.1521C105.314 29.9899 105.131 29.8662 104.926 29.7809C104.729 29.687 104.516 29.6401 104.286 29.6401C103.979 29.6401 103.744 29.7083 103.582 29.8449C103.42 29.9729 103.339 30.135 103.339 30.3313C103.339 30.5361 103.415 30.7153 103.569 30.8689C103.731 31.0225 103.957 31.1633 104.247 31.2913C104.546 31.4193 104.904 31.5558 105.323 31.7009C105.638 31.8203 105.933 31.9611 106.206 32.1233C106.479 32.2769 106.718 32.4646 106.923 32.6865C107.136 32.9083 107.302 33.1643 107.422 33.4545C107.541 33.7446 107.601 34.0774 107.601 34.4529C107.601 34.9051 107.507 35.3105 107.319 35.6689C107.14 36.0187 106.893 36.3131 106.577 36.5521C106.27 36.791 105.916 36.9702 105.515 37.0897C105.122 37.2177 104.717 37.2817 104.299 37.2817C103.718 37.2817 103.176 37.1793 102.673 36.9745C102.178 36.7611 101.747 36.4753 101.38 36.1169C101.013 35.7585 100.727 35.3659 100.523 34.9393L102.033 33.8513Z"
      fill="#E296F5"></path>
    <path d="M109.047 28.0401H111.249V37.0001H109.047V28.0401Z" fill="#E296F5"
    ></path>
    <path
      d="M117.589 33.7617V32.0977L122.12 32.0977C122.163 32.8144 122.09 33.4843 121.903 34.1073C121.715 34.7302 121.425 35.2806 121.032 35.7584C120.64 36.2363 120.149 36.6118 119.56 36.8849C118.971 37.1494 118.297 37.2817 117.538 37.2817C116.821 37.2817 116.164 37.1707 115.567 36.9489C114.969 36.7185 114.453 36.3942 114.018 35.9761C113.582 35.5494 113.241 35.0459 112.994 34.4657C112.755 33.8769 112.635 33.2283 112.635 32.5201C112.635 31.8118 112.759 31.1718 113.007 30.6001C113.254 30.0198 113.604 29.5249 114.056 29.1153C114.508 28.7057 115.037 28.3899 115.643 28.1681C116.249 27.9462 116.906 27.8353 117.615 27.8353C118.246 27.8353 118.813 27.9249 119.317 28.1041C119.82 28.2833 120.264 28.535 120.648 28.8593C121.041 29.175 121.378 29.5419 121.659 29.9601L119.739 30.9585C119.535 30.6 119.257 30.3057 118.907 30.0753C118.566 29.8363 118.135 29.7169 117.615 29.7169C117.12 29.7169 116.663 29.8278 116.245 30.0497C115.835 30.2715 115.507 30.5915 115.259 31.0097C115.02 31.4193 114.901 31.9227 114.901 32.5201C114.901 33.1089 115.016 33.6209 115.247 34.0561C115.485 34.4827 115.805 34.8155 116.207 35.0545C116.616 35.2849 117.085 35.4001 117.615 35.4001C117.939 35.4001 118.233 35.3617 118.498 35.2849C118.762 35.1995 118.988 35.0843 119.176 34.9393C119.364 34.7857 119.522 34.6107 119.65 34.4145C119.786 34.2097 119.893 33.9921 119.97 33.7617H117.589Z"
      fill="#E296F5"></path>
    <path
      d="M129.755 28.04H131.841L131.841 37.448L125.646 31.9569V37H123.572V27.5921L129.755 33.0832V28.04Z"
      fill="#E296F5"></path>
    <path
      d="M135.168 37V35.2208H139.687V37H135.168ZM135.168 29.8192V28.04L139.687 28.04V29.8192H135.168ZM135.168 33.16V31.4192H139.431V33.16H135.168ZM133.735 28.04H135.808V37H133.735V28.04Z"
      fill="#E296F5"></path>
    <path
      d="M143.687 32.9424H145.927L148.73 37H146.196L143.687 32.9424ZM141.447 28.04H143.611V37L141.447 37V28.04ZM142.804 29.8704V28.04H144.711C145.479 28.04 146.119 28.1638 146.631 28.4112C147.143 28.6587 147.532 29.0043 147.796 29.448C148.061 29.8832 148.193 30.391 148.193 30.9712C148.193 31.543 148.061 32.0507 147.796 32.4944C147.532 32.9296 147.143 33.271 146.631 33.5184C146.119 33.7659 145.479 33.8896 144.711 33.8896H142.804V32.2128H144.558C144.848 32.2128 145.095 32.1702 145.3 32.0848C145.513 31.991 145.676 31.8587 145.786 31.688C145.897 31.5088 145.953 31.2955 145.953 31.048C145.953 30.8006 145.897 30.5915 145.786 30.4208C145.676 30.2416 145.513 30.1051 145.3 30.0112C145.095 29.9174 144.848 29.8704 144.558 29.8704H142.804Z"
      fill="#E296F5"></path>
  </svg>
</div>
