<div>
  <svg
    width="149"
    height="38"
    viewBox="0 0 149 38"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="hidden xl:block"
  >
    <path
      d="M0.930725 37.0001L0.930725 35.4001L7.99073 35.4001V37.0001H0.930725ZM0.930723 24.6001L0.930723 23.0001L7.99072 23.0001L7.99072 24.6001L0.930723 24.6001ZM0.930724 30.2001L0.930724 28.6001L7.59072 28.6001L7.59072 30.2001L0.930724 30.2001ZM-0.00927734 23.0001H1.69072L1.69073 37.0001H-0.00927477L-0.00927734 23.0001Z"
      fill="#E8CFFF"></path>
    <path
      d="M18.9868 33.8401L23.5868 23.0001H25.4868L18.9868 37.7001L12.4868 23.0001H14.3868L18.9868 33.8401Z"
      fill="#E8CFFF"></path>
    <path
      d="M31.1299 37.0001V35.4001H38.1899V37L31.1299 37.0001ZM31.1299 24.6001V23.0001L38.1899 23V24.6001H31.1299ZM31.1299 30.2001V28.6001H37.7899V30.2001H31.1299ZM30.1899 23.0001H31.8899L31.8899 37.0001H30.1899L30.1899 23.0001Z"
      fill="#E8CFFF"></path>
    <path
      d="M44.186 23H45.886V35.4001L51.386 35.4V37H44.186L44.186 23Z"
      fill="#E8CFFF"></path>
    <path d="M56.1899 23H57.8899V37H56.1899L56.1899 23Z" fill="#E8CFFF"></path>
    <path
      d="M74.6923 23H76.3923V37.7L65.7923 26.58L65.7923 37H64.0923V22.3L74.6923 33.42V23Z"
      fill="#E8CFFF"></path>
    <path
      d="M11.206 15.7601C11.526 16.3201 11.8594 16.8134 12.206 17.2401C12.566 17.6667 12.966 18.0001 13.406 18.2401C13.846 18.4801 14.346 18.6001 14.906 18.6001C15.6527 18.6001 16.2527 18.3934 16.706 17.9801C17.1594 17.5667 17.386 17.0401 17.386 16.4001C17.386 15.7734 17.2394 15.2734 16.946 14.9001C16.6527 14.5267 16.266 14.2267 15.786 14.0001C15.3194 13.7601 14.8194 13.5467 14.286 13.3601C13.9394 13.2401 13.5527 13.0867 13.126 12.9001C12.6994 12.7001 12.2927 12.4534 11.906 12.1601C11.5194 11.8534 11.1994 11.4801 10.946 11.0401C10.706 10.6001 10.586 10.0601 10.586 9.42006C10.586 8.72672 10.7594 8.10672 11.106 7.56006C11.4527 7.01339 11.9327 6.58672 12.546 6.28005C13.1594 5.96005 13.8594 5.80005 14.646 5.80005C15.406 5.80005 16.066 5.94672 16.626 6.24005C17.1994 6.52005 17.686 6.88672 18.086 7.34005C18.486 7.78005 18.7994 8.24672 19.026 8.74005L17.566 9.58005C17.3927 9.23339 17.1727 8.89339 16.906 8.56005C16.6394 8.22672 16.3127 7.95339 15.926 7.74005C15.5527 7.52672 15.0927 7.42006 14.546 7.42006C13.786 7.42006 13.2327 7.60672 12.886 7.98006C12.5394 8.34006 12.366 8.74672 12.366 9.20006C12.366 9.58672 12.466 9.94672 12.666 10.2801C12.866 10.6001 13.1994 10.9067 13.666 11.2001C14.146 11.4801 14.7927 11.7601 15.606 12.0401C15.9794 12.1734 16.3727 12.3467 16.786 12.5601C17.1994 12.7734 17.5794 13.0467 17.926 13.3801C18.286 13.7001 18.5794 14.0934 18.806 14.5601C19.0327 15.0134 19.146 15.5601 19.146 16.2001C19.146 16.8134 19.026 17.3667 18.786 17.8601C18.5594 18.3534 18.2394 18.7734 17.826 19.1201C17.426 19.4667 16.966 19.7334 16.446 19.9201C15.9394 20.1067 15.406 20.2001 14.846 20.2001C14.086 20.2001 13.3794 20.0401 12.726 19.7201C12.086 19.3867 11.5194 18.9534 11.026 18.4201C10.546 17.8734 10.1527 17.2934 9.84604 16.6801L11.206 15.7601Z"
      fill="#E8CFFF"></path>
    <path
      d="M23.7431 7.60005V6.00005L33.5431 6.00005L26.1831 18.4001H33.1431V20.0001L23.3431 20.0001L30.7031 7.60005L23.7431 7.60005Z"
      fill="#E8CFFF"></path>
    <path
      d="M39.8815 15.8001L40.4815 14.2001L46.6815 14.2L47.2815 15.8L39.8815 15.8001ZM43.5415 9.16005L41.1815 14.7201L41.0215 15.0801L38.9415 20.0001H37.0415L43.5415 5.30005L50.0415 20H48.1415L46.1015 15.2L45.9415 14.8L43.5415 9.16005ZM46.1415 1.10005L42.5415 4.10005L41.6415 3.50005L44.6415 0.300049L46.1415 1.10005Z"
      fill="#E8CFFF"></path>
    <path
      d="M55.2646 15.76C55.5846 16.32 55.918 16.8134 56.2646 17.24C56.6246 17.6667 57.0246 18 57.4646 18.24C57.9046 18.48 58.4046 18.6 58.9646 18.6C59.7113 18.6 60.3113 18.3934 60.7646 17.98C61.218 17.5667 61.4446 17.04 61.4446 16.4C61.4446 15.7734 61.298 15.2734 61.0046 14.9C60.7113 14.5267 60.3246 14.2267 59.8446 14C59.378 13.76 58.878 13.5467 58.3446 13.36C57.998 13.24 57.6113 13.0867 57.1846 12.9C56.758 12.7 56.3513 12.4534 55.9646 12.16C55.578 11.8534 55.258 11.48 55.0046 11.04C54.7646 10.6 54.6446 10.06 54.6446 9.42005C54.6446 8.72672 54.818 8.10671 55.1646 7.56005C55.5113 7.01338 55.9913 6.58671 56.6046 6.28005C57.218 5.96005 57.918 5.80005 58.7046 5.80005C59.4646 5.80005 60.1246 5.94671 60.6846 6.24005C61.258 6.52005 61.7446 6.88671 62.1446 7.34005C62.5446 7.78005 62.858 8.24671 63.0846 8.74005L61.6246 9.58005C61.4513 9.23338 61.2313 8.89338 60.9646 8.56005C60.698 8.22671 60.3713 7.95338 59.9846 7.74005C59.6113 7.52671 59.1513 7.42005 58.6046 7.42005C57.8446 7.42005 57.2913 7.60671 56.9446 7.98005C56.598 8.34005 56.4246 8.74671 56.4246 9.20005C56.4246 9.58671 56.5246 9.94671 56.7246 10.28C56.9246 10.6 57.258 10.9067 57.7246 11.2C58.2046 11.48 58.8513 11.76 59.6646 12.04C60.038 12.1734 60.4313 12.3467 60.8446 12.56C61.258 12.7734 61.638 13.0467 61.9846 13.38C62.3446 13.7 62.638 14.0934 62.8646 14.56C63.0913 15.0134 63.2046 15.56 63.2046 16.2C63.2046 16.8134 63.0846 17.3667 62.8446 17.86C62.618 18.3534 62.298 18.7734 61.8846 19.12C61.4846 19.4667 61.0246 19.7334 60.5046 19.92C59.998 20.1067 59.4646 20.2 58.9046 20.2C58.1446 20.2 57.438 20.04 56.7846 19.72C56.1446 19.3867 55.578 18.9534 55.0846 18.42C54.6046 17.8734 54.2113 17.2934 53.9046 16.68L55.2646 15.76Z"
      fill="#E8CFFF"></path>
    <path
      d="M67.8017 7.60005V6.00005L77.6017 6.00004L70.2417 18.4H77.2017V20H67.4017L74.7617 7.60005L67.8017 7.60005Z"
      fill="#E8CFFF"></path>
    <path
      d="M83.8833 6.04006L86.0465 6.04006V11.9025C86.0465 12.3547 86.166 12.7217 86.4049 13.0033C86.6438 13.2849 87.0022 13.4257 87.4801 13.4257C87.9665 13.4257 88.3292 13.2849 88.5681 13.0033C88.807 12.7217 88.9265 12.3547 88.9265 11.9025V6.04006L91.0897 6.04006V12.0561C91.0897 12.6193 90.9958 13.1099 90.8081 13.5281C90.6289 13.9462 90.3729 14.2918 90.0401 14.5649C89.7158 14.8294 89.3318 15.0299 88.8881 15.1665C88.4529 15.303 87.9836 15.3713 87.4801 15.3713C86.9766 15.3713 86.5073 15.303 86.0721 15.1665C85.6369 15.0299 85.2529 14.8294 84.9201 14.5649C84.5958 14.2918 84.3398 13.9462 84.1521 13.5281C83.9729 13.1099 83.8833 12.6193 83.8833 12.0561V6.04006Z"
      fill="#E296F5"></path>
    <path
      d="M92.9223 6.04006L95.1239 6.04006V15.0001H92.9223L92.9223 6.04006Z"
      fill="#E296F5"></path>
    <path
      d="M83.8833 17.0401H86.0465V22.9025C86.0465 23.3547 86.166 23.7217 86.4049 24.0033C86.6438 24.2849 87.0022 24.4257 87.4801 24.4257C87.9665 24.4257 88.3292 24.2849 88.5681 24.0033C88.807 23.7217 88.9265 23.3547 88.9265 22.9025V17.0401H91.0897V23.0561C91.0897 23.6193 90.9958 24.1099 90.8081 24.5281C90.6289 24.9462 90.3729 25.2918 90.0401 25.5649C89.7158 25.8294 89.3318 26.0299 88.8881 26.1665C88.4529 26.303 87.9836 26.3713 87.4801 26.3713C86.9766 26.3713 86.5073 26.303 86.0721 26.1665C85.6369 26.0299 85.2529 25.8294 84.9201 25.5649C84.5958 25.2918 84.3398 24.9462 84.1521 24.5281C83.9729 24.1099 83.8833 23.6193 83.8833 23.0561V17.0401Z"
      fill="#E296F5"></path>
    <path
      d="M97.8375 17.0401H100.513L97.6967 21.4049L100.705 26.0001H98.0295L96.3911 23.0177L94.7015 26.0001L92.0263 26.0001L95.0983 21.4049L92.3463 17.0401L95.0215 17.0401L96.4039 19.6385L97.8375 17.0401Z"
      fill="#E296F5"></path>
    <path
      d="M83.9473 28.0401H86.1745V37.0001H83.9473V28.0401ZM87.1473 37.0001H85.3809V35.0801H87.0705C87.4118 35.0801 87.7404 35.0374 88.0561 34.9521C88.3804 34.8667 88.662 34.7259 88.9009 34.5297C89.1484 34.3334 89.3446 34.0731 89.4897 33.7489C89.6348 33.4161 89.7073 33.0065 89.7073 32.5201C89.7073 32.0337 89.6348 31.6283 89.4897 31.3041C89.3446 30.9713 89.1484 30.7067 88.9009 30.5105C88.662 30.3142 88.3804 30.1734 88.0561 30.0881C87.7404 30.0027 87.4118 29.9601 87.0705 29.9601L85.3809 29.9601V28.0401H87.1473C88.1286 28.0401 88.9777 28.2235 89.6945 28.5905C90.4113 28.9574 90.966 29.4737 91.3585 30.1393C91.751 30.8049 91.9473 31.5985 91.9473 32.5201C91.9473 33.4331 91.751 34.2267 91.3585 34.9009C90.966 35.5665 90.4113 36.0827 89.6945 36.4497C88.9777 36.8166 88.1286 37.0001 87.1473 37.0001Z"
      fill="#E296F5"></path>
    <path
      d="M94.7684 37.0001V35.2209H99.2868V37.0001L94.7684 37.0001ZM94.7684 29.8193V28.0401H99.2868V29.8193L94.7684 29.8193ZM94.7684 33.1601V31.4193L99.0308 31.4193V33.1601L94.7684 33.1601ZM93.3348 28.0401L95.4084 28.0401V37.0001H93.3348V28.0401Z"
      fill="#E296F5"></path>
    <path
      d="M102.033 33.8513C102.212 34.1755 102.413 34.4571 102.635 34.6961C102.865 34.935 103.112 35.1185 103.377 35.2465C103.65 35.3745 103.936 35.4385 104.235 35.4385C104.55 35.4385 104.811 35.3617 105.015 35.2081C105.22 35.0459 105.323 34.8283 105.323 34.5553C105.323 34.3249 105.263 34.1414 105.143 34.0049C105.024 33.8598 104.832 33.7233 104.567 33.5953C104.303 33.4673 103.953 33.3222 103.518 33.1601C103.304 33.0833 103.057 32.9766 102.775 32.8401C102.502 32.7035 102.242 32.5286 101.994 32.3153C101.747 32.0934 101.542 31.8289 101.38 31.5217C101.218 31.2059 101.137 30.8262 101.137 30.3825C101.137 29.8534 101.273 29.3969 101.547 29.0129C101.828 28.6289 102.204 28.3387 102.673 28.1425C103.151 27.9377 103.68 27.8353 104.26 27.8353C104.857 27.8353 105.374 27.9334 105.809 28.1297C106.253 28.3259 106.62 28.5734 106.91 28.8721C107.2 29.1707 107.422 29.4737 107.575 29.7809L105.924 30.7025C105.796 30.4891 105.647 30.3057 105.476 30.1521C105.314 29.9899 105.131 29.8662 104.926 29.7809C104.729 29.687 104.516 29.6401 104.286 29.6401C103.979 29.6401 103.744 29.7083 103.582 29.8449C103.42 29.9729 103.339 30.135 103.339 30.3313C103.339 30.5361 103.415 30.7153 103.569 30.8689C103.731 31.0225 103.957 31.1633 104.247 31.2913C104.546 31.4193 104.904 31.5558 105.323 31.7009C105.638 31.8203 105.933 31.9611 106.206 32.1233C106.479 32.2769 106.718 32.4646 106.923 32.6865C107.136 32.9083 107.302 33.1643 107.422 33.4545C107.541 33.7446 107.601 34.0774 107.601 34.4529C107.601 34.9051 107.507 35.3105 107.319 35.6689C107.14 36.0187 106.893 36.3131 106.577 36.5521C106.27 36.791 105.916 36.9702 105.515 37.0897C105.122 37.2177 104.717 37.2817 104.299 37.2817C103.718 37.2817 103.176 37.1793 102.673 36.9745C102.178 36.7611 101.747 36.4753 101.38 36.1169C101.013 35.7585 100.727 35.3659 100.523 34.9393L102.033 33.8513Z"
      fill="#E296F5"></path>
    <path d="M109.047 28.0401H111.249V37.0001H109.047V28.0401Z" fill="#E296F5"
    ></path>
    <path
      d="M117.589 33.7617V32.0977L122.12 32.0977C122.163 32.8144 122.09 33.4843 121.903 34.1073C121.715 34.7302 121.425 35.2806 121.032 35.7584C120.64 36.2363 120.149 36.6118 119.56 36.8849C118.971 37.1494 118.297 37.2817 117.538 37.2817C116.821 37.2817 116.164 37.1707 115.567 36.9489C114.969 36.7185 114.453 36.3942 114.018 35.9761C113.582 35.5494 113.241 35.0459 112.994 34.4657C112.755 33.8769 112.635 33.2283 112.635 32.5201C112.635 31.8118 112.759 31.1718 113.007 30.6001C113.254 30.0198 113.604 29.5249 114.056 29.1153C114.508 28.7057 115.037 28.3899 115.643 28.1681C116.249 27.9462 116.906 27.8353 117.615 27.8353C118.246 27.8353 118.813 27.9249 119.317 28.1041C119.82 28.2833 120.264 28.535 120.648 28.8593C121.041 29.175 121.378 29.5419 121.659 29.9601L119.739 30.9585C119.535 30.6 119.257 30.3057 118.907 30.0753C118.566 29.8363 118.135 29.7169 117.615 29.7169C117.12 29.7169 116.663 29.8278 116.245 30.0497C115.835 30.2715 115.507 30.5915 115.259 31.0097C115.02 31.4193 114.901 31.9227 114.901 32.5201C114.901 33.1089 115.016 33.6209 115.247 34.0561C115.485 34.4827 115.805 34.8155 116.207 35.0545C116.616 35.2849 117.085 35.4001 117.615 35.4001C117.939 35.4001 118.233 35.3617 118.498 35.2849C118.762 35.1995 118.988 35.0843 119.176 34.9393C119.364 34.7857 119.522 34.6107 119.65 34.4145C119.786 34.2097 119.893 33.9921 119.97 33.7617H117.589Z"
      fill="#E296F5"></path>
    <path
      d="M129.755 28.04H131.841L131.841 37.448L125.646 31.9569V37H123.572V27.5921L129.755 33.0832V28.04Z"
      fill="#E296F5"></path>
    <path
      d="M135.168 37V35.2208H139.687V37H135.168ZM135.168 29.8192V28.04L139.687 28.04V29.8192H135.168ZM135.168 33.16V31.4192H139.431V33.16H135.168ZM133.735 28.04H135.808V37H133.735V28.04Z"
      fill="#E296F5"></path>
    <path
      d="M143.687 32.9424H145.927L148.73 37H146.196L143.687 32.9424ZM141.447 28.04H143.611V37L141.447 37V28.04ZM142.804 29.8704V28.04H144.711C145.479 28.04 146.119 28.1638 146.631 28.4112C147.143 28.6587 147.532 29.0043 147.796 29.448C148.061 29.8832 148.193 30.391 148.193 30.9712C148.193 31.543 148.061 32.0507 147.796 32.4944C147.532 32.9296 147.143 33.271 146.631 33.5184C146.119 33.7659 145.479 33.8896 144.711 33.8896H142.804V32.2128H144.558C144.848 32.2128 145.095 32.1702 145.3 32.0848C145.513 31.991 145.676 31.8587 145.786 31.688C145.897 31.5088 145.953 31.2955 145.953 31.048C145.953 30.8006 145.897 30.5915 145.786 30.4208C145.676 30.2416 145.513 30.1051 145.3 30.0112C145.095 29.9174 144.848 29.8704 144.558 29.8704H142.804Z"
      fill="#E296F5"></path>
  </svg>
  <svg
    width="131"
    height="33"
    viewBox="0 0 131 33"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="block xl:hidden"
  >
    <path
      d="M0.827891 32.3824L0.827891 30.9706L7.04586 30.9706V32.3824H0.827891ZM0.827889 21.4412L0.827889 20.0294L7.04586 20.0294L7.04586 21.4412L0.827889 21.4412ZM0.82789 26.3824L0.82789 24.9706L6.69357 24.9706L6.69357 26.3824L0.82789 26.3824ZM0 20.0294H1.49725L1.49725 32.3824H2.26356e-06L0 20.0294Z"
      fill="#E8CFFF"></path>
    <path
      d="M16.7305 29.5941L20.7819 20.0294H22.4552L16.7305 33L11.0057 20.0294H12.6791L16.7305 29.5941Z"
      fill="#E8CFFF"></path>
    <path
      d="M27.4253 32.3824V30.9706H33.6433V32.3823L27.4253 32.3824ZM27.4253 21.4412V20.0294L33.6433 20.0294V21.4412H27.4253ZM27.4253 26.3824V24.9706H33.291V26.3824H27.4253ZM26.5974 20.0294H28.0947L28.0947 32.3824H26.5974L26.5974 20.0294Z"
      fill="#E8CFFF"></path>
    <path
      d="M38.9243 20.0294H40.4215V30.9706L45.2655 30.9706V32.3823H38.9243L38.9243 20.0294Z"
      fill="#E8CFFF"></path>
    <path
      d="M49.4965 20.0294H50.9937V32.3823H49.4965L49.4965 20.0294Z"
      fill="#E8CFFF"></path>
    <path
      d="M65.7921 20.0294H67.2894V33L57.9536 23.1882L57.9536 32.3823H56.4563V19.4118L65.7921 29.2235V20.0294Z"
      fill="#E8CFFF"></path>
    <path
      d="M9.87769 13.6412C10.1595 14.1353 10.4531 14.5706 10.7584 14.9471C11.0755 15.3235 11.4278 15.6177 11.8153 15.8294C12.2028 16.0412 12.6432 16.1471 13.1364 16.1471C13.794 16.1471 14.3225 15.9647 14.7217 15.6C15.121 15.2353 15.3206 14.7706 15.3206 14.2059C15.3206 13.6529 15.1914 13.2118 14.9331 12.8824C14.6748 12.5529 14.3342 12.2882 13.9115 12.0882C13.5004 11.8765 13.0601 11.6882 12.5904 11.5235C12.285 11.4177 11.9445 11.2824 11.5687 11.1177C11.1929 10.9412 10.8348 10.7235 10.4942 10.4647C10.1537 10.1941 9.87182 9.86471 9.6487 9.47648C9.43733 9.08824 9.33164 8.61177 9.33164 8.04706C9.33164 7.4353 9.4843 6.88824 9.78962 6.40589C10.0949 5.92353 10.5177 5.54706 11.0579 5.27647C11.5981 4.99412 12.2146 4.85295 12.9074 4.85295C13.5768 4.85295 14.1581 4.98236 14.6513 5.24118C15.1562 5.48824 15.5848 5.81177 15.9371 6.21177C16.2894 6.6 16.5654 7.01177 16.765 7.44706L15.4792 8.18824C15.3265 7.88236 15.1327 7.58236 14.8979 7.28824C14.663 6.99412 14.3753 6.75295 14.0348 6.56471C13.7059 6.37648 13.3008 6.28236 12.8193 6.28236C12.15 6.28236 11.6626 6.44706 11.3573 6.77648C11.052 7.09412 10.8993 7.45295 10.8993 7.85295C10.8993 8.19412 10.9874 8.51177 11.1636 8.80589C11.3397 9.08824 11.6333 9.35883 12.0443 9.61765C12.467 9.86471 13.0366 10.1118 13.7529 10.3588C14.0817 10.4765 14.4281 10.6294 14.7922 10.8177C15.1562 11.0059 15.4909 11.2471 15.7962 11.5412C16.1133 11.8235 16.3716 12.1706 16.5713 12.5824C16.7709 12.9824 16.8707 13.4647 16.8707 14.0294C16.8707 14.5706 16.765 15.0588 16.5536 15.4941C16.354 15.9294 16.0722 16.3 15.7081 16.6059C15.3559 16.9118 14.9507 17.1471 14.4927 17.3118C14.0465 17.4765 13.5768 17.5588 13.0836 17.5588C12.4142 17.5588 11.7918 17.4177 11.2164 17.1353C10.6527 16.8412 10.1537 16.4588 9.71916 15.9882C9.29641 15.5059 8.94999 14.9941 8.6799 14.4529L9.87769 13.6412Z"
      fill="#E8CFFF"></path>
    <path
      d="M20.9195 6.44118V5.02941L29.5507 5.02941L23.0685 15.9706H29.1984V17.3824L20.5672 17.3824L27.0494 6.44118L20.9195 6.44118Z"
      fill="#E8CFFF"></path>
    <path
      d="M35.1331 13.6765L35.6616 12.2647L41.1221 12.2647L41.6505 13.6765L35.1331 13.6765ZM38.3566 7.81765L36.2781 12.7235L36.1372 13.0412L34.3052 17.3824H32.6318L38.3566 4.41177L44.0814 17.3824H42.408L40.6113 13.1471L40.4704 12.7941L38.3566 7.81765ZM40.6465 0.705882L37.4759 3.35294L36.6832 2.82353L39.3254 0L40.6465 0.705882Z"
      fill="#E8CFFF"></path>
    <path
      d="M48.6815 13.6412C48.9634 14.1353 49.257 14.5706 49.5623 14.9471C49.8793 15.3235 50.2316 15.6176 50.6192 15.8294C51.0067 16.0412 51.447 16.1471 51.9403 16.1471C52.5979 16.1471 53.1263 15.9647 53.5256 15.6C53.9248 15.2353 54.1245 14.7706 54.1245 14.2059C54.1245 13.6529 53.9953 13.2118 53.7369 12.8823C53.4786 12.5529 53.1381 12.2882 52.7153 12.0882C52.3043 11.8765 51.8639 11.6882 51.3942 11.5235C51.0889 11.4176 50.7483 11.2824 50.3725 11.1176C49.9968 10.9412 49.6386 10.7235 49.2981 10.4647C48.9575 10.1941 48.6757 9.8647 48.4526 9.47647C48.2412 9.08823 48.1355 8.61176 48.1355 8.04706C48.1355 7.43529 48.2881 6.88823 48.5935 6.40588C48.8988 5.92353 49.3215 5.54706 49.8617 5.27647C50.4019 4.99412 51.0184 4.85294 51.7113 4.85294C52.3806 4.85294 52.9619 4.98235 53.4551 5.24117C53.9601 5.48823 54.3887 5.81176 54.741 6.21176C55.0933 6.6 55.3692 7.01176 55.5689 7.44706L54.283 8.18823C54.1303 7.88235 53.9366 7.58235 53.7017 7.28823C53.4669 6.99412 53.1792 6.75294 52.8386 6.5647C52.5098 6.37647 52.1047 6.28235 51.6232 6.28235C50.9538 6.28235 50.4665 6.44706 50.1612 6.77647C49.8559 7.09412 49.7032 7.45294 49.7032 7.85294C49.7032 8.19412 49.7913 8.51176 49.9674 8.80588C50.1436 9.08823 50.4371 9.35882 50.8481 9.61764C51.2709 9.8647 51.8404 10.1118 52.5568 10.3588C52.8856 10.4765 53.232 10.6294 53.596 10.8176C53.9601 11.0059 54.2947 11.2471 54.6001 11.5412C54.9171 11.8235 55.1755 12.1706 55.3751 12.5823C55.5747 12.9823 55.6746 13.4647 55.6746 14.0294C55.6746 14.5706 55.5689 15.0588 55.3575 15.4941C55.1579 15.9294 54.876 16.3 54.512 16.6059C54.1597 16.9118 53.7546 17.1471 53.2966 17.3118C52.8503 17.4765 52.3806 17.5588 51.8874 17.5588C51.2181 17.5588 50.5957 17.4176 50.0203 17.1353C49.4566 16.8412 48.9575 16.4588 48.523 15.9882C48.1003 15.5059 47.7538 14.9941 47.4837 14.4529L48.6815 13.6412Z"
      fill="#E8CFFF"></path>
    <path
      d="M59.7233 6.44117V5.02941L68.3545 5.02941L61.8723 15.9706H68.0022V17.3823H59.371L65.8532 6.44117L59.7233 6.44117Z"
      fill="#E8CFFF"></path>
    <path
      d="M73.8869 5.06471L75.7921 5.06471V10.2374C75.7921 10.6365 75.8974 10.9602 76.1078 11.2087C76.3182 11.4572 76.6339 11.5814 77.0548 11.5814C77.4832 11.5814 77.8026 11.4572 78.013 11.2087C78.2234 10.9602 78.3287 10.6365 78.3287 10.2374V5.06471L80.2339 5.06471V10.3729C80.2339 10.8699 80.1512 11.3028 79.9858 11.6718C79.828 12.0407 79.6025 12.3457 79.3094 12.5866C79.0238 12.82 78.6856 12.9969 78.2948 13.1174C77.9115 13.2379 77.4982 13.2981 77.0548 13.2981C76.6113 13.2981 76.198 13.2379 75.8147 13.1174C75.4314 12.9969 75.0932 12.82 74.8001 12.5866C74.5145 12.3457 74.289 12.0407 74.1237 11.6718C73.9659 11.3028 73.8869 10.8699 73.8869 10.3729V5.06471Z"
      fill="#E296F5"></path>
    <path
      d="M81.8479 5.06471L83.7869 5.06471V12.9706H81.8479L81.8479 5.06471Z"
      fill="#E296F5"></path>
    <path
      d="M73.8869 14.7706H75.7921V19.9433C75.7921 20.3424 75.8974 20.6661 76.1078 20.9146C76.3182 21.1631 76.6339 21.2873 77.0548 21.2873C77.4832 21.2873 77.8026 21.1631 78.013 20.9146C78.2234 20.6661 78.3287 20.3424 78.3287 19.9433V14.7706H80.2339V20.0788C80.2339 20.5758 80.1512 21.0087 79.9858 21.3777C79.828 21.7466 79.6025 22.0515 79.3094 22.2925C79.0238 22.5259 78.6856 22.7028 78.2948 22.8233C77.9115 22.9438 77.4982 23.004 77.0548 23.004C76.6113 23.004 76.198 22.9438 75.8147 22.8233C75.4314 22.7028 75.0932 22.5259 74.8001 22.2925C74.5145 22.0515 74.289 21.7466 74.1237 21.3777C73.9659 21.0087 73.8869 20.5758 73.8869 20.0788V14.7706Z"
      fill="#E296F5"></path>
    <path
      d="M86.1769 14.7706H88.533L86.0529 18.6219L88.7021 22.6765H86.346L84.903 20.0449L83.4149 22.6765L81.0587 22.6765L83.7644 18.6219L81.3406 14.7706L83.6967 14.7706L84.9142 17.0633L86.1769 14.7706Z"
      fill="#E296F5"></path>
    <path
      d="M73.9433 24.4765H75.9049V32.3824H73.9433V24.4765ZM76.7617 32.3824H75.2059V30.6882H76.694C76.9946 30.6882 77.284 30.6506 77.5621 30.5753C77.8477 30.5 78.0957 30.3758 78.3061 30.2026C78.5241 30.0294 78.6969 29.7998 78.8247 29.5136C78.9524 29.22 79.0163 28.8586 79.0163 28.4294C79.0163 28.0002 78.9524 27.6426 78.8247 27.3565C78.6969 27.0628 78.5241 26.8294 78.3061 26.6562C78.0957 26.4831 77.8477 26.3588 77.5621 26.2835C77.284 26.2082 76.9946 26.1706 76.694 26.1706L75.2059 26.1706V24.4765H76.7617C77.6259 24.4765 78.3738 24.6384 79.0051 24.9621C79.6364 25.2859 80.1249 25.7414 80.4706 26.3287C80.8163 26.916 80.9892 27.6162 80.9892 28.4294C80.9892 29.2351 80.8163 29.9353 80.4706 30.5301C80.1249 31.1174 79.6364 31.5729 79.0051 31.8967C78.3738 32.2205 77.6259 32.3824 76.7617 32.3824Z"
      fill="#E296F5"></path>
    <path
      d="M83.4738 32.3824V30.8125H87.4533V32.3824L83.4738 32.3824ZM83.4738 26.0464V24.4765H87.4533V26.0464L83.4738 26.0464ZM83.4738 28.9941V27.4581L87.2278 27.4581V28.9941L83.4738 28.9941ZM82.2112 24.4765L84.0375 24.4765V32.3824H82.2112V24.4765Z"
      fill="#E296F5"></path>
    <path
      d="M89.8719 29.604C90.0297 29.8901 90.2063 30.1386 90.4017 30.3494C90.6047 30.5602 90.8226 30.7221 91.0556 30.8351C91.2961 30.948 91.5479 31.0045 91.8109 31.0045C92.089 31.0045 92.3182 30.9367 92.4986 30.8012C92.679 30.6581 92.7692 30.4661 92.7692 30.2252C92.7692 30.0219 92.7165 29.86 92.6113 29.7395C92.5061 29.6115 92.337 29.4911 92.104 29.3781C91.871 29.2652 91.5629 29.1372 91.1796 28.9941C90.9917 28.9264 90.7738 28.8322 90.5257 28.7118C90.2852 28.5913 90.056 28.4369 89.8381 28.2487C89.6201 28.0529 89.4397 27.8195 89.297 27.5485C89.1542 27.2699 89.0828 26.9348 89.0828 26.5433C89.0828 26.0765 89.203 25.6736 89.4435 25.3348C89.6915 24.996 90.0222 24.74 90.4356 24.5668C90.8564 24.3861 91.3224 24.2958 91.8335 24.2958C92.3596 24.2958 92.8142 24.3824 93.1975 24.5555C93.5883 24.7287 93.9115 24.9471 94.167 25.2106C94.4226 25.4741 94.618 25.7414 94.7533 26.0125L93.299 26.8256C93.1863 26.6374 93.0547 26.4755 92.9044 26.34C92.7616 26.1969 92.6001 26.0878 92.4197 26.0125C92.2468 25.9296 92.0589 25.8882 91.856 25.8882C91.5854 25.8882 91.3788 25.9485 91.236 26.0689C91.0932 26.1819 91.0218 26.3249 91.0218 26.4981C91.0218 26.6788 91.0894 26.8369 91.2247 26.9725C91.3675 27.108 91.5667 27.2322 91.8222 27.3452C92.0852 27.4581 92.4009 27.5786 92.7692 27.7066C93.0472 27.812 93.3065 27.9362 93.547 28.0793C93.7875 28.2148 93.9979 28.3805 94.1783 28.5762C94.3662 28.772 94.5128 28.9979 94.618 29.2539C94.7232 29.5099 94.7758 29.8035 94.7758 30.1348C94.7758 30.5339 94.6931 30.8915 94.5278 31.2078C94.37 31.5165 94.152 31.7762 93.8739 31.9871C93.6034 32.1979 93.2915 32.356 92.9383 32.4614C92.5925 32.5744 92.2355 32.6308 91.8673 32.6308C91.3562 32.6308 90.879 32.5405 90.4356 32.3598C89.9997 32.1715 89.6201 31.9193 89.297 31.6031C88.9738 31.2868 88.722 30.9405 88.5416 30.564L89.8719 29.604Z"
      fill="#E296F5"></path>
    <path d="M96.0497 24.4765H97.9887V32.3824H96.0497V24.4765Z" fill="#E296F5"
    ></path>
    <path
      d="M103.573 29.5249V28.0567L107.563 28.0567C107.601 28.6892 107.537 29.2802 107.372 29.8299C107.206 30.3795 106.951 30.8652 106.605 31.2868C106.259 31.7085 105.827 32.0398 105.309 32.2807C104.79 32.5141 104.196 32.6308 103.527 32.6308C102.896 32.6308 102.317 32.5329 101.791 32.3372C101.265 32.1339 100.811 31.8478 100.427 31.4788C100.044 31.1024 99.7434 30.6581 99.5254 30.1461C99.315 29.6266 99.2098 29.0544 99.2098 28.4294C99.2098 27.8045 99.3187 27.2398 99.5367 26.7353C99.7547 26.2233 100.063 25.7866 100.461 25.4252C100.859 25.0638 101.325 24.7852 101.859 24.5894C102.393 24.3936 102.971 24.2958 103.595 24.2958C104.151 24.2958 104.651 24.3748 105.094 24.5329C105.538 24.6911 105.929 24.9132 106.267 25.1993C106.613 25.4779 106.909 25.8016 107.158 26.1706L105.466 27.0515C105.286 26.7353 105.042 26.4755 104.734 26.2722C104.433 26.0614 104.054 25.956 103.595 25.956C103.159 25.956 102.757 26.0539 102.389 26.2496C102.028 26.4454 101.739 26.7278 101.521 27.0967C101.31 27.4581 101.205 27.9024 101.205 28.4294C101.205 28.9489 101.307 29.4007 101.51 29.7847C101.72 30.1612 102.002 30.4548 102.355 30.6656C102.716 30.8689 103.129 30.9706 103.595 30.9706C103.881 30.9706 104.14 30.9367 104.373 30.8689C104.606 30.7936 104.805 30.692 104.97 30.564C105.136 30.4285 105.275 30.2741 105.388 30.1009C105.508 29.9202 105.602 29.7282 105.669 29.5249H103.573Z"
      fill="#E296F5"></path>
    <path
      d="M114.287 24.4765H116.125L116.125 32.7776L110.669 27.9325V32.3823H108.842V24.0812L114.287 28.9263V24.4765Z"
      fill="#E296F5"></path>
    <path
      d="M119.055 32.3823V30.8125H123.035V32.3823H119.055ZM119.055 26.0463V24.4765L123.035 24.4765V26.0463H119.055ZM119.055 28.9941V27.4581H122.809V28.9941H119.055ZM117.793 24.4765H119.619V32.3823H117.793V24.4765Z"
      fill="#E296F5"></path>
    <path
      d="M126.558 28.8021H128.531L131 32.3823H128.768L126.558 28.8021ZM124.585 24.4765H126.491V32.3823L124.585 32.3823V24.4765ZM125.78 26.0915V24.4765H127.46C128.137 24.4765 128.7 24.5856 129.151 24.804C129.602 25.0223 129.944 25.3273 130.177 25.7188C130.41 26.1028 130.527 26.5508 130.527 27.0628C130.527 27.5673 130.41 28.0153 130.177 28.4068C129.944 28.7908 129.602 29.092 129.151 29.3103C128.7 29.5287 128.137 29.6379 127.46 29.6379H125.78V28.1583H127.325C127.58 28.1583 127.798 28.1207 127.979 28.0454C128.167 27.9626 128.309 27.8459 128.407 27.6953C128.505 27.5372 128.554 27.3489 128.554 27.1306C128.554 26.9122 128.505 26.7278 128.407 26.5772C128.309 26.4191 128.167 26.2986 127.979 26.2158C127.798 26.1329 127.58 26.0915 127.325 26.0915H125.78Z"
      fill="#E296F5"></path>
  </svg>
</div>
