---
import "@fontsource/jost/700.css";

const { color, className, isInverted } = Astro.props;
const justifySelf = isInverted
  ? "lg:justify-self-start lg:text-left"
  : "lg:justify-self-end lg:text-right";
---

<p
  style={{ color: color }}
  class={`text-[28px] sm:text-[32px] 2xl:text-[38px] tracking-[-0.1em] barna-project text-center ${justifySelf} ${className}`}
>
  <slot />
</p>

<style>
  p {
    font-family: "Jost", sans-serif;
    font-weight: 700;
    line-height: 0.98;
  }
</style>
