---
import HeroBackground from "../components/HeroBackground.astro";
import PersonHeader from "../components/PersonHeader.astro";
import { extractName } from "../utils/extractName";

const { fullName } = Astro.props;
const { name } = extractName(fullName);
---

<div class="relative w-screen h-screen overflow-visible min-h-[100%]">
  <HeroBackground endpoint={name.toUpperCase()} />

  <PersonHeader endpoint={name} />

  <slot />
</div>
