---
import { extractName } from "../utils/extractName";
import IconCVDownload from "./IconCVDownload.astro";

const { fullName, imgSrc, pdfSrc } = Astro.props;
const { name, familyName } = extractName(fullName);
const lowercaseName = name.toLowerCase();
---

<script is:inline define:vars={{ lowercaseName }}>
  const cvDownloadButton = document.querySelector(".cv_download");

  if (cvDownloadButton) {
    cvDownloadButton.addEventListener("mouseenter", () => {
      if (lowercaseName === "barna") {
        cvDownloadButton.style.filter = `drop-shadow(0px 0px 7px #FFFB20)`;
      } else {
        cvDownloadButton.style.filter = `drop-shadow(0px 0px 7px #e296f5)`;
      }
    });
    cvDownloadButton.addEventListener("mouseleave", () => {
      cvDownloadButton.style.filter = `none`;
    });
  }
</script>

<div
  class="h-full w-[50%] mx-auto isolate grid place-items-center mt-[92px] pb-[92px]"
>
  <div class="">
    <button
      class="font-['Jost'] border-none flex flex-col justify-center mx-auto mb-[30px] uppercase text-[14px]"
    >
      <a
        href={pdfSrc}
        target="_blank"
        class={`z-50 flex gap-2 items-center text-[16px] sm:text-[18px] lg:text-[16px] ${lowercaseName === "barna" ? "text-[#FFFB20] border-[#FFFB20] duration-200 hover:shadow-[0_0_7px_#FFFB20]" : "text-[#e296f5] border-[#e296f5] duration-200 hover:shadow-[0_0_7px_#e296f5]"} border-[1px] rounded-full py-[10px] px-[17px] drop-shadow-[5px_5px_8px_rgba(0,0,0,0.60)] transition-all backdrop-blur-md cv_download`}
      >
        <IconCVDownload lowercaseName={lowercaseName} />
        Download
      </a>
    </button>
    <picture>
      <source srcset={imgSrc.replace("jpg", "avif")} type="image/avif" />
      <source srcset={imgSrc.replace("jpg", "webp")} type="image/webp" />
      <img src={imgSrc} alt={`${fullName}'s CV`} class="block w-full" />
    </picture>
  </div>
</div>
