---
const { name } = Astro.props;
const textAlign =
  name === "EVELIN" ? "justify-items-end" : "justify-items-start";
const textColor = name === "EVELIN" ? `text-[#e296f5]` : `text-white`;
---

<div
  class={`grid grid-rows-3 gap-0 text-[11px]  lg:mt-0 ${textColor} ${textAlign}`}
>
  <p class="sm:translate-y-[4px] lg:mt-[2px]">
    {name === "BARNA" ? "FRONT" : "UI"}
  </p>
  <p class="sm:-mt-[4px] lg:-mt-[1px]">{name === "BARNA" ? "END" : "UX"}</p>
  <p class="sm:-mt-[10px] lg:-mt-[6px]">
    {name === "BARNA" ? "DEVELOPER" : "DESIGNER"}
  </p>
</div>

<style>
  div {
    font-family: "Jost", sans-serif;
    font-weight: 700;
  }
</style>
