---
const { href, isCurrentPage } = Astro.props;

const circleColor = href.includes("evelin") ? "bg-[#efd6f5]" : "bg-green-200";
const textColor = isCurrentPage ? "text-[#efd6f5]" : "text-[#e296f5]";
---

<li>
  <a class={`${isCurrentPage} ${textColor} flex flex-col`} href={`${href}`}>
    <slot />
    {
      isCurrentPage ? (
        <div
          transition:name="circle"
          class={`h-[10px] w-[10px] block rounded-full mx-auto mt-[8px] ${circleColor}`}
        />
      ) : null
    }
  </a>
</li>
