---
import HeroBackground from "../components/HeroBackground.astro";
import PersonHeader from "../components/PersonHeader.astro";
const endpoint = "EVELIN";
---

<div class="relative w-screen h-screen overflow-visible min-h-[100%]">
  <HeroBackground endpoint={endpoint} />

  <PersonHeader endpoint={endpoint} />

  <slot />
</div>
