---
const { name } = Astro.props;
const textAlign =
  name === "EVELIN" ? "justify-items-end" : "justify-items-start";
const textColor = name === "EVELIN" ? `text-[#e296f5]` : `text-white`;
---

<div class={`grid grid-rows-3 gap-0 text-[11px] ${textColor} ${textAlign}`}>
  <p class="mt-[2px]">{name === "BARNA" ? "FRONT" : "UI"}</p>
  <p class="-mt-[3px]">{name === "BARNA" ? "END" : "UX"}</p>
  <p class="-mt-[8px]">{name === "BARNA" ? "DEVELOPER" : "DESIGNER"}</p>
</div>

<style>
  div {
    font-family: "Jost", sans-serif;
    font-weight: 700;
  }
</style>
