---
import HeroBackground from "../components/HeroBackground.astro";
import PersonHeader from "../components/PersonHeader.astro";
import { extractName } from "../utils/extractName";
const { fullName, bgColor } = Astro.props;
const { name } = extractName(fullName);
---

<div class="relative w-full min-h-[100%] isolate">
  <HeroBackground endpoint={name.toUpperCase()} />

  <PersonHeader fullName={fullName} name={name} bgColor={bgColor} />

  <slot />
</div>
