---
import PersonProjectCardImage from "./PersonProjectCardImage.astro";
import PersonProjectCardVideo from "./PersonProjectCardVideo.astro";

const { src, description, id, projectLink, live } = Astro.props;
---

<a href={projectLink || live}>
  {
    Array.isArray(src) ? (
      <PersonProjectCardVideo src={src} id={id} />
    ) : (
      <PersonProjectCardImage src={src} description={description} />
    )
  }
</a>
