---
import "@fontsource/jost/400.css";

const { description, github } = Astro.props;
---

<p
  class="lg:text-[12px] tracking-[1px] text-white translate-y-4 w-[90%] ml-auto"
>
  {description.toUpperCase()}
</p>

<a
  href={github}
  class="underline underline-offset-2 lg:text-[12px] text-[#eaebd1] tracking-wide"
  >Read More</a
>

<style>
  a {
    font-family: "Jost", sans-serif;
    font-weight: 400;
  }

  p {
    line-height: 0.95;
  }
</style>
