---
const { className } = Astro.props;
---

<div class={className}>
  <svg
    width="12"
    height="180"
    viewBox="0 0 12 180"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="xl:hidden"
  >
    <path
      d="M6 180L11.7735 170L0.226498 170L6 180ZM7 171L7.00001 4.37114e-08L5.00001 -4.37114e-08L5 171L7 171Z"
      fill="#001649"></path>
  </svg>

  <svg
    width="12"
    height="329"
    viewBox="0 0 12 329"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="hidden xl:block"
  >
    <path
      d="M6 329L11.7735 319L0.226498 319L6 329ZM7 320L7.00001 4.37114e-08L5.00001 -4.37114e-08L5 320L7 320Z"
      fill="#001649"></path>
  </svg>
</div>
