---
const { bgColor } = Astro.props;
---

<aside
  class="fixed h-screen left-[-124px] top-0 bottom-0 content-center w-[39px] sm:w-[50px] xl:w-[70px]"
>
  <ul
    class="flex justify-center -rotate-90 gap-[20px] z-[1003] text-[15px] sm:text-[16px] font-['Jost'] w-fit px-4 py-1 rounded-full"
    style={{ backgroundColor: bgColor }}
  >
    <li class="cursor-pointer"><a href="#quizzical-prototype">Prototype</a></li>
    <li class="cursor-pointer"><a href="#quizzical-design">Design</a></li>
    <li class="cursor-pointer"><a href="#quizzical-ideate">Ideate</a></li>
    <li class="cursor-pointer"><a href="#quizzical-overview">Overview</a></li>
  </ul>
</aside>
