<span
  class="bg-[#D2D62E] p-2 rounded-full w-[28px] h-[28px] flex items-center justify-center shadow-[inset_2px_2px_3px_rgba(0,0,0,0.25)]"
>
  <strong class="font-['Jost']">
    <slot />
  </strong>
</span>
