---
const { className } = Astro.props;
---

<div class={`text-center flex items-center gap-2 justify-center ${className}`}>
  <span class="xl:text-[16px] text-[#8d8d8d] sm:text-[14px]"
    >Tap to enlarge</span
  >

  <svg
    width="16"
    height="15"
    viewBox="0 0 16 15"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M6.5 12C9.53757 12 12 9.53757 12 6.5C12 3.46243 9.53757 1 6.5 1C3.46243 1 1 3.46243 1 6.5C1 9.53757 3.46243 12 6.5 12Z"
      stroke="#8D8D8D"
      stroke-width="1.5"></path>
    <path
      d="M12.4193 11.1289L14.9745 13.3636L14.5619 13.7987L12.012 11.5347L12.4193 11.1289Z"
      fill="#8D8D8D"
      stroke="#8D8D8D"
      stroke-miterlimit="10"></path>
  </svg>
</div>
