---
import IconArrowResponsive from "./IconArrowResponsive.astro";

interface Props {
  text: string;
  arrowColor: string;
  arrowBgColor: string;
  invertArrow?: boolean;
  className?: string;
}

const { arrowColor, arrowBgColor, className, invertArrow, text } = Astro.props;
---

<div class={`flex items-center gap-[10px] ${className}`}>
  <span style={{ color: arrowColor }} class="block">
    {text}
  </span>

  <div class={`${!invertArrow ? "scale-x-[-1]" : ""}`}>
    <IconArrowResponsive color={arrowColor} bgColor={arrowBgColor} />
  </div>
</div>
