---
const { className } = Astro.props;
---

<section class={`mx-[-16px] sm:sticky left-0 right-0 z-[0] ${className}`}>
  <p class="text-center font-semibold text-[16px] sm:hidden">Quick Links</p>
  <ul
    class="flex flex-row flex-wrap justify-center xl:justify-start gap-[5px] font-semibold text-[12px]"
  >
    <li
      class="bg-[#C7EFB1] py-[13px] px-[9px] sm:px-[10px] sm:py-[7px] xl:p-[10px] rounded-[5px] sm:rounded-b-none shadow-[0px_1px_1px_0px_rgba(0,0,0,0.30)] sm:shadow-[2px_-2px_3px_-2px_rgba(0,0,0,0.30)]"
    >
      <a href="#wireframes"> WIREFRAMES </a>
    </li>
    <li
      class="bg-[#EDEFB1] py-[13px] px-[9px] sm:px-[10px] sm:py-[7px] xl:p-[10px] rounded-[5px] sm:rounded-b-none shadow-[0px_1px_1px_0px_rgba(0,0,0,0.30)] sm:shadow-[2px_-2px_3px_-2px_rgba(0,0,0,0.30)] whitespace-nowrap"
    >
      <a href="#usability-testing"> USABILITY TESTING </a>
    </li>
    <li
      class="bg-[#F6CDEC] py-[13px] px-[9px] sm:px-[10px] sm:py-[7px] xl:p-[10px] rounded-[5px] sm:rounded-b-none shadow-[0px_1px_1px_0px_rgba(0,0,0,0.30)] sm:shadow-[2px_-2px_3px_-2px_rgba(0,0,0,0.30)] whitespace-nowrap"
    >
      <a href="#style-definition"> STYLE DEFINITION </a>
    </li>
    <li
      class="bg-[#CDEAF6] py-[13px] px-[9px] sm:px-[10px] sm:py-[7px] xl:p-[10px] rounded-[5px] sm:rounded-b-none shadow-[0px_1px_1px_0px_rgba(0,0,0,0.30)] sm:shadow-[2px_-2px_3px_-2px_rgba(0,0,0,0.30)] whitespace-nowrap"
    >
      <a href="#final-design"> FINAL DESIGN </a>
    </li>
  </ul>
</section>
