<aside class="fixed left-[-150px] sm:left-[-144px] top-[275px]">
  <ul class="flex -rotate-90 gap-[20px] z-[1003] text-[15px] sm:text-[16px]">
    <li class="cursor-pointer"><a href="#prototype">Prototype</a></li>
    <li class="cursor-pointer"><a href="#design">Design</a></li>
    <li class="cursor-pointer"><a href="#ideate">Ideate</a></li>
    <li class="cursor-pointer"><a href="#research">Research</a></li>
    <li class="cursor-pointer"><a href="#overview">Overview</a></li>
  </ul>
</aside>

<style>
  * {
    font-family: "Jost", sans-serif;
  }
</style>
