---
import IconTriangleMobile from "./IconTriangleMobile.astro";

export interface Props {
  triangleColor: string;
  className?: string;
  triangleInside?: boolean;
}

const { triangleColor, className, triangleInside } = Astro.props;
const pStyles = triangleInside
  ? "grid grid-cols-[min-content_auto] gap-[8px]"
  : "";
const svgStyles = triangleInside
  ? "mt-1"
  : "absolute top-[3px] left-[-13px] xl:top-[5px]";
---

<div class={`relative ${pStyles} text-[16px] xl:text-[18px] ${className}`}>
  <IconTriangleMobile bgColor={triangleColor} className={`${svgStyles}`} />
  <p>
    <slot />
  </p>
</div>
