---
import MagnifyingGlass from "./MagnifyingGlass.astro";
const { className } = Astro.props;
---

<figure class={className}>
  <slot />
  <figcaption
    class="pt-[20px] text-[13px] text-[#8d8d8d] sm:text-[14px] flex items-center justify-center"
  >
    <MagnifyingGlass />
    <span><span id="enlarge-text">Tap</span> to enlarge</span>
  </figcaption>
</figure>

<script>
  function updateText() {
    const enlargeText = document.getElementById("enlarge-text");
    if (!enlargeText) return;

    const isDesktop = window.matchMedia("(min-width: 1024px)").matches;
    enlargeText.textContent = isDesktop ? "Click" : "Tap";
  }

  document.addEventListener("DOMContentLoaded", updateText);

  window.addEventListener("resize", updateText);
</script>

