---
const { className } = Astro.props;
---

<p
  class={`border-y-[#E1CA02] border-y-[1px] sm:border-[1px] sm:border-[#E1CA02] text-[14px] xl:text-[18px] mx-[-20px] px-[20px] py-[20px] ${className}`}
>
  <slot />
</p>
