---
import IconTriangleMobile from "./IconTriangleMobile.astro";

const { triangleColor, className, triangleInside } = Astro.props;
const triangleInsideStyles = triangleInside ? "flex items-center gap-2" : "";
const triangleInsideStylesInner = triangleInside ? "" : "absolute";
---

<p
  class={`font-['Jost'] relative ${triangleInsideStyles} text-[14px] xl:text-[18px] ${className}`}
>
  <IconTriangleMobile
    bgColor={triangleColor}
    className={`${triangleInsideStylesInner} top-[3px] left-[-13px] xl:top-[5px]`}
  />
  <slot />
</p>
