---
import IconTriangleMobile from "./IconTriangleMobile.astro";

export interface Props {
  triangleColor: string;
  className?: string;
  triangleInside?: boolean;
}

const { triangleColor, className, triangleInside } = Astro.props;
const pStyles = triangleInside ? "inline" : "";
const svgStyles = triangleInside ? "inline" : "absolute";
---

<p class={`relative ${pStyles} text-[14px] xl:text-[18px] ${className}`}>
  <IconTriangleMobile
    bgColor={triangleColor}
    className={`${svgStyles} top-[3px] left-[-13px] xl:top-[5px]`}
  />
  <slot />
</p>
