---
import MagnifyingGlass from "./MagnifyingGlass.astro";
---

<figure class="">
  <slot />
  <figcaption
    class="pt-[20px] text-[13px] text-[#8d8d8d] sm:text-[14px] flex items-center justify-center"
  >
    <MagnifyingGlass />
    <span>Tap to enlarge</span>
  </figcaption>
</figure>
