---
import { ViewTransitions } from "astro:transitions";
import HamburgerMenu from "../components/HamburgerMenu.astro";

interface Props {
  title: string;
  bgColor?: string;
  fullName?: string;
}

const { fullName, title, bgColor } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body style={{ backgroundColor: bgColor }}>
    <slot />
    <HamburgerMenu fullName={fullName} bgColor={bgColor} />
  </body>
</html>

<style is:global>
  *,
  **:before,
  **:after {
    box-sizing: border-box;
  }

  html {
    scroll-padding-top: 100px;
  }
</style>
