---
import { ClientRouter } from "astro:transitions";
import HamburgerMenu from "../components/HamburgerMenu.astro";
import Analytics from "@vercel/analytics/astro";
import SpeedInsights from "@vercel/speed-insights/astro";
import "../styles/global.css";

interface Props {
  title: string;
  bgColor?: string;
  fullName?: string;
}

const { fullName, title, bgColor } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="The joint portfolio of Szász Evelin (UI/UX Designer) and Szász Barna (Front-End Developer)"
    />
    <meta property="og:image" content="og_image_common.avif" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preload" href="../styles/global.css" as="style" />
    <meta name="generator" content={Astro.generator} />
    <SpeedInsights />
    <Analytics />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body style={{ backgroundColor: bgColor }}>
    <slot />
    {!fullName ? null : <HamburgerMenu fullName={fullName} bgColor={bgColor} />}
  </body>
</html>

<style is:global>
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  html {
    scroll-padding-top: 140px;
  }
</style>
